Repository aaweaver-actuary/tactix: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, xenon, vulture, eslint, prettier, knip, jscpd, cargo-test, pytest, vitest, cargo-build

ty-check:
  name: ty check
  entry: uv run ty check --error deprecated
  language: system
  pass_filenames: false

xenon:
  name: xenon complexity check
  entry: uv run xenon --max-absolute A --max-modules A --max-average A src/
  language: system
  pass_filenames: false

vulture:
  name: vulture dead code check
  ...

eslint:
  name: eslint
  entry: bash -c 'cd client && npx eslint --fix . --ext .js,.jsx,.ts,.tsx'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd client && npx prettier --write --cache .'
  language: system
  pass_filenames: false

knip:
  name: knip dead code check
  entry: bash -c 'cd client && npx knip'
  language: system
  pass_filenames: false

jscpd:
  name: jscpd duplicate detection
  ...

cargo-test:
  name: cargo test
  entry: uv run cargo test
  language: system
  pass_filenames: false

pytest:
  name: pytest with coverage
  entry: 'uv run pytest tests/ --cov=src/ --cov-config=./.coveragerc --cov-report=term-missing --cov-fail-under=95
  
    '
  language: system
  pass_filenames: false

vitest:
  name: vitest with coverage
  entry: bash -c 'cd client && npx vitest run --coverage'
  language: system
  pass_filenames: false

cargo-build:
  name: cargo build release
  entry: uv run cargo build --release
  language: system
  pass_filenames: false

instructions
  .github/agents/orchestrator.agent.md
Due: none

[dev]Regression: mark feature 012 failing with SSE timeout evidence
  claude-progress.txt
  feature_list.json
  verification/feature-012-sse-airflow-2026-02-01.png
  verification/feature-012-sse-job-progress-2026-02-01.txt
  verification/feature-012-sse-ui-complete-2026-02-01.png
  verification/feature-012-sse-ui-progress-2026-02-01.png
  verification/feature-012-sse-ui-start-2026-02-01.png
  verification/integration_feature_012_sse_jobs_stream.js
  verification/puppeteer_feature_012_sse_jobs_stream.js
Due: jscpd

[refactor] Fix App stream test run state
  app-progress.txt
  claude-progress.txt
  client/src/App.stream.test.tsx
Due: eslint, prettier, knip, jscpd, vitest

[dev]Fix SSE job stream progress for Airflow runs
  airflow/dags/daily_game_sync.py
  claude-progress.txt
  feature_list.json
  src/tactix/run_airflow_daily_sync_job__job_stream.py
  verification/feature-012-rerun-airflow-2026-02-01T18-49-23-859Z.png
  verification/feature-012-rerun-job-progress-2026-02-01T18-49-23-859Z.txt
  verification/feature-012-rerun-ui-progress-2026-02-01T18-49-23-859Z.png
  verification/feature-012-rerun-ui-start-2026-02-01T18-49-23-859Z.png
  verification/puppeteer_feature_012_rerun_manual.js
Due: ty-check, xenon, vulture, jscpd, pytest

[dev]Add metrics SSE stream updates - verified end-to-end
  claude-progress.txt
  client/src/App.stream.test.tsx
  client/src/App.tsx
  client/src/utils/getMetricsStreamUrl.test.ts
  client/src/utils/getMetricsStreamUrl.ts
  feature_list.json
  src/tactix/api.py
  src/tactix/stream_metrics__api.py
  verification/feature-243-metrics-stream-after-2026-02-01.png
  verification/feature-243-metrics-stream-before-2026-02-01.png
  verification/integration_feature_243_metrics_stream.js
  verification/puppeteer_feature_243_metrics_stream.js
Due: ty-check, xenon, vulture, eslint, prettier, knip, jscpd, pytest, vitest

[refactor] dedupe job/metrics SSE event enqueue
  app-progress.txt
  src/tactix/queue_job_event__job_stream.py
  src/tactix/stream_job_worker__job_stream.py
  src/tactix/stream_metrics__api.py
Due: ty-check, xenon, vulture, jscpd, pytest

[EU] 2 bullet games for issues # 🧪 End-to-End Verification: Chess.com Bullet Games + Missed Tactics (2026-02-01) -- Canonical Scenario #6 -- Actual games
  tests/fixtures/chesscom_2_bullet_games.pgn
Due: none

Clearing working tree
  src/tactix/analyze_tactics__positions.py
  src/tactix/detect_tactics__motifs.py
  tests/test_chesscom_bullet_pipeline_2026_02_01.py
  tests/test_tactics_analyzer.py
  tmp-logs/debug_hanging_piece_search.py
  tmp-logs/debug_hanging_sequence.py
  tmp-logs/inspect_feature_244_pgn.py
  verification/feature-021-chesscom-pagination.png
  verification/feature-028-practice-next-unseen.png
  verification/feature-030-practice-session-progress.png
  verification/feature-031-lichess-bullet-incremental-2026-01-25.png
  verification/feature-033-lichess-blitz-incremental-2026-01-25.png
Due: ty-check, xenon, vulture, jscpd, pytest

[dev] Fix chess.com bullet fixture IDs
  claude-progress.txt
  tests/fixtures/chesscom_2_bullet_games.pgn
  tests/test_chesscom_bullet_pipeline_2026_02_01.py
Due: jscpd, pytest

[refactor] reduce duplication in chesscom bullet pipeline tests
  claude-progress.txt
  tests/test_chesscom_bullet_pipeline_2026_02_01.py
Due: jscpd, pytest

[dev] add postgres verification tests for chesscom bullet
  claude-progress.txt
  src/tactix/postgres_store.py
  tests/test_postgres_chesscom_bullet_2026_02_01.py
Due: ty-check, xenon, vulture, jscpd, pytest

[refactor] reuse postgres bullet outcome SQL
  claude-progress.txt
  tests/test_postgres_chesscom_bullet_2026_02_01.py
Due: jscpd, pytest

[dev]Verify ISSUE-1 chesscom bullet pipeline validation
  claude-progress.txt
  feature_list.json
  tmp-logs/issue_1_seed_pipeline.py
  verification/feature-021-chesscom-pagination.png
  verification/feature-023-stockfish-checksum-2026-01-25.png
  verification/feature-024-promotion-en-passant-2026-01-25.png
  verification/feature-025-castling-2026-01-25.png
  verification/feature-025a-chesscom-env-2026-01-25.png
  verification/feature-025b-lichess-env-2026-01-25.png
  verification/feature-026-rolling-averages-2026-01-25.png
  verification/feature-027-time-trouble-correlation-2026-01-25.png
  verification/feature-028-practice-next-unseen.png
  verification/feature-030-practice-session-progress.png
  verification/integration_issue_1_pipeline_validation.js
  verification/issue-1-chesscom-bullet-pipeline-validation-2026-02-01.png
  verification/puppeteer_feature_023_stockfish_checksum.js
  verification/puppeteer_feature_024_promotion_en_passant.js
  verification/puppeteer_feature_025_castling.js
  verification/puppeteer_feature_025a_chesscom_env.js
  verification/puppeteer_feature_025b_lichess_env.js
  verification/puppeteer_feature_026_rolling_averages.js
  verification/puppeteer_feature_027_time_trouble.js
  verification/puppeteer_issue_1_pipeline_validation.js
Due: jscpd

[refactor] centralize dashboard regression helpers – single-responsibility checks
  claude-progress.txt
  verification/helpers/run_dashboard_regression.js
  verification/puppeteer_regression_feature_002.js
  verification/puppeteer_regression_feature_003.js
Due: jscpd

[dev]Verify ISSUE-2 Postgres chesscom bullet records - verified end-to-end
  claude-progress.txt
  feature_list.json
  tests/test_postgres_chesscom_bullet_2026_02_01.py
  verification/integration_issue_2_postgres_verification.js
  verification/issue-2-postgres-analysis-2026-02-01.png
  verification/issue-2-postgres-raw-pgns-2026-02-01.png
  verification/issue-2-postgres-status-2026-02-01.png
  verification/regression-001-lichess-2026-01-25.png
  verification/regression-002-chesscom-blitz-2026-02-01.png
  verification/regression-003-lichess-since-2026-02-01.png
Due: jscpd, pytest

[refactor] reuse puppeteer capture helper – single responsibility
  claude-progress.txt
  verification/helpers/puppeteer_capture.js
  verification/puppeteer_feature_021_chesscom_pagination.js
  verification/puppeteer_issue_1_pipeline_validation.js
Due: jscpd

[refactor] consolidate fixture outcome search helpers – single-responsibility helper
  claude-progress.txt
  tests/fixture_helpers.py
Due: jscpd, pytest

[EU] Please don't change the test fixtures!
  tests/fixtures/chesscom_2_bullet_games.pgn
Due: none

[dev] configure pylint baseline
  claude-progress.txt
  pyproject.toml
Due: cargo-test, cargo-build

[dev] align pylint config in pyproject
  claude-progress.txt
  pyproject.toml
Due: cargo-test, cargo-build

[dev] stabilize lint/test checks
  .flake8
  Makefile
  claude-progress.txt
  pyproject.toml
  src/tactix/PostgresStore.py
  src/tactix/_get_game_result_for_user_from_pgn_headers.py
  src/tactix/chess_clients/__init__.py
  src/tactix/chess_clients/chesscom_client.py
  src/tactix/define_settings__config.py
  src/tactix/lichess_client.py
  src/tactix/maybe_upsert_postgres_analysis__pipeline.py
  src/tactix/models/__init__.py
  src/tactix/pipeline_state__pipeline.py
Due: ty-check, xenon, vulture, jscpd, cargo-test, pytest, cargo-build

[refactor] reuse conversion payload builder
  claude-progress.txt
  src/tactix/conversion_payload__pipeline.py
  src/tactix/empty_conversion_payload__pipeline.py
Due: ty-check, xenon, vulture, jscpd, pytest

[EU]Sync before major refactor
  .flake8
Due: none

[EU]Required code quality increase
  pyproject.toml
Due: cargo-test, cargo-build

[EU]Required code quality increase
  Makefile
Due: none

[EU]Required code quality increase
  .pre-commit-config.yaml
Due: none

[EU]Required code quality increase
  .gitignore
  pyproject.toml
Due: cargo-test, cargo-build

[EU]Required code quality increase
  airflow/webserver_config.py
  pyproject.toml
  tests/conftest.py
  tests/test_direct_file_coverage.py
  tests/test_stream_jobs_api.py
Due: jscpd, cargo-test, pytest, cargo-build

[EU]Required code quality increase
  pyproject.toml
  uv.lock
Due: cargo-test, cargo-build

Initial setup: feature_list.json and project structure
  README.md
  app-progress.txt
  feature_list.json
  src/tactix/app/__init__.py
  src/tactix/app/use_cases/__init__.py
  src/tactix/domain/__init__.py
  src/tactix/infra/__init__.py
  src/tactix/infra/clients/__init__.py
  src/tactix/infra/db/__init__.py
  src/tactix/ports/__init__.py
Due: ty-check, xenon, vulture, jscpd, pytest

[dev] fix ruff import order and unused imports
  src/tactix/ANALYSIS_SCHEMA.py
  src/tactix/CaptureDetector.py
  src/tactix/ForkDetector.py
  src/tactix/PinDetector.py
  src/tactix/SITE_PATTERNS.py
Due: ty-check, xenon, vulture, jscpd, pytest

[dev] Stabilize lint configuration
  .flake8
  Makefile
  pyproject.toml
  src/tactix/collect_positions_for_monitor__pipeline.py
  uv.lock
Due: ty-check, xenon, vulture, jscpd, cargo-test, pytest, cargo-build

[dev] Complete chess.com bullet pipeline feature
  app-progress.txt
  feature_list.json
  pyproject.toml
  src/tactix/ANALYSIS_SCHEMA.py
  src/tactix/CLOCK_PARTS_SHORT.py
  src/tactix/PGN_SCHEMA.py
  src/tactix/PositionContext.py
  src/tactix/SITE_PATTERNS.py
  src/tactix/StockfishEngine.py
  src/tactix/__init__.py
  src/tactix/_build_schema_label.py
  src/tactix/_collect_tables.py
  src/tactix/_fetch_latest_pgn_metadata.py
  src/tactix/_fetch_raw_pgn_summary.py
  src/tactix/_insert_raw_pgn_row.py
  src/tactix/_normalize_clock_parts.py
  src/tactix/_position_context_helpers.py
  src/tactix/analysis_context.py
  src/tactix/analyze_position.py
  src/tactix/api.py
  src/tactix/compute_pgn_hashes__pipeline.py
  src/tactix/db/_migration_add_pipeline_views.py
  src/tactix/db/_migration_base_tables.py
  src/tactix/db/duckdb_store.py
  src/tactix/extract_positions__pgn.py
  src/tactix/get_dashboard_summary__api.py
  src/tactix/init_pgn_schema.py
  src/tactix/pipeline_run_filters.py
  src/tactix/run_pipeline__api.py
  tests/fixtures/chesscom_bullet_mate_hanging_2026_02_01.pgn
  tests/test_schema_migration.py
  verification/feature-001-chesscom-bullet-pipeline-2026-02-04.png
  verification/integration_feature_001_chesscom_bullet_pipeline.js
  verification/puppeteer_feature_001_chesscom_bullet_pipeline.js
Due: ty-check, xenon, vulture, jscpd, cargo-test, pytest, cargo-build

[dev] Document feature 001 evidence and pass count
  app-progress.txt
Due: none

Path conditions:
  ty-check: any of: ^src/.*\.py$
  xenon: any of: ^src/.*\.py$
  vulture: any of: ^src/.*\.py$
  eslint: any of: ^client/.*\.(js|jsx|ts|tsx)$
  prettier: any of: ^client/.*\.(js|jsx|ts|tsx|json|css)$
  knip: any of: ^client/
  jscpd: any of: \.(py|js|jsx|ts|tsx)$
  cargo-test: any of: \.(rs|toml)$
  pytest: any of: ^(src/.*\.py|tests/.*\.py)$
  vitest: any of: ^client/
  cargo-build: any of: \.(rs|toml)$
