Repository aaweaver-actuary/tactix: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, xenon, vulture, eslint, prettier, knip, jscpd

ty-check:
  name: ty check
  entry: uv run ty check --error deprecated src/
  language: system
  pass_filenames: false

xenon:
  name: xenon complexity check
  entry: uv run xenon --max-absolute A --max-modules A --max-average A src/
  language: system
  pass_filenames: false

vulture:
  name: vulture dead code check
  ...

eslint:
  name: eslint
  entry: bash -c 'cd client && npx eslint --fix . --ext .js,.jsx,.ts,.tsx'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd client && npx prettier --write --cache .'
  language: system
  pass_filenames: false

knip:
  name: knip dead code check
  entry: bash -c 'cd client && npx knip'
  language: system
  pass_filenames: false

jscpd:
  name: jscpd duplicate detection
  ...

[refactor]Remove unintended chessground css
  client/src/chessground.css
Due: prettier, knip

[dev]Mark router wiring-only as passing
  feature_list.json
Due: none

[refactor] extract dashboard flow – enforce flow layering
  app-progress.txt
  client/src/App.stream.test.tsx
  client/src/App.tsx
  client/src/_components/PracticeAttemptCard.tsx
  client/src/_components/PracticeMoveInput.test.tsx
  client/src/_components/PracticeMoveInput.tsx
  client/src/client/dashboard.ts
  client/src/client/index.ts
  client/src/client/jobs.ts
  client/src/client/postgres.ts
  client/src/client/practice.ts
  client/src/client/streams.ts
  client/src/flows/DashboardFlow.test.tsx
  client/src/flows/DashboardFlow.tsx
  client/src/utils/fetchDashboard.ts
  client/src/utils/fetchGameDetail.ts
  client/src/utils/submitPracticeAttempt.ts
Due: eslint, prettier, knip, jscpd

[dev]Mark frontend flow layering as passing
  feature_list.json
Due: none

[dev]Add run_id traceability across pipeline
  app-progress.txt
  client/src/client/index.ts
  client/src/client/jobs.ts
  client/src/client/postgres.ts
  client/src/utils/fetchGameDetail.ts
  client/src/utils/fetchPostgresAnalysis.ts
  client/src/utils/fetchPostgresRawPgns.ts
  client/src/utils/fetchPostgresStatus.ts
  src/tactix/app/use_cases/pipeline_run.py
  src/tactix/app/use_cases/pipeline_support.py
  src/tactix/db/postgres_ops_repository.py
  src/tactix/define_settings__config.py
  src/tactix/init_postgres_schema.py
  src/tactix/ops_event.py
  src/tactix/run_daily_game_sync_internal__pipeline.py
  src/tactix/trace_context.py
  src/tactix/utils/logger.py
  tests/test_api_helpers.py
  tests/test_postgres_store.py
  tests/test_use_cases_api_layer.py
Due: ty-check, xenon, vulture, eslint, prettier, knip, jscpd

[dev]Mark run_id traceability as passing
  feature_list.json
Due: none

[dev]Verify feature 006 chesscom bullet pipeline
  app-progress.txt
Due: none

[dev]Mark chess.com bullet E2E pipeline as passing
  feature_list.json
Due: none

[dev] Verify feature 007 lichess blitz E2E
  app-progress.txt
  src/tactix/app/use_cases/pipeline_run.py
  tmp-logs/feature_007_lichess_blitz_output.json
  tmp-logs/feature_007_lichess_blitz_verification.py
Due: ty-check, xenon, vulture, jscpd

[dev]Mark lichess blitz E2E pipeline as passing
  feature_list.json
Due: none

[dev] Ensure pipeline idempotency via upserts
  app-progress.txt
  src/tactix/persist_and_extract_positions__pipeline.py
  tests/test_api_chesscom_bullet_pipeline_regression.py
  tmp-logs/feature_008_chesscom_bullet_idempotent.json
  tmp-logs/feature_008_idempotency_check.py
Due: ty-check, xenon, vulture, jscpd

[dev] Remove idempotency scratch script
  tmp-logs/feature_008_idempotency_check.py
Due: jscpd

[dev]Mark pipeline idempotency as passing
  feature_list.json
Due: none

[dev] Verify lichess blitz MVP pipeline end-to-end
  app-progress.txt
  tmp-logs/feature_010_lichess_blitz_output.json
  tmp-logs/feature_010_lichess_blitz_verification.py
Due: jscpd

[dev] Add lichess blitz converted outcome fixture
  app-progress.txt
  tests/fixtures/lichess_blitz_converted_sample.pgn
  tmp-logs/feature_010_lichess_blitz_output.json
  tmp-logs/feature_010_lichess_blitz_verification.py
Due: jscpd

[dev]Mark lichess blitz MVP pipeline as passing
  feature_list.json
Due: none

iugiough
  tests/test_api_chesscom_bullet_pipeline_regression.py
Due: jscpd

[dev] Verify SyncGames idempotency
  app-progress.txt
  feature_list.json
Due: none

lints
  app-progress.txt
  tests/test_airflow_client.py
  tests/test_airflow_dag_helpers.py
  tests/test_api_lichess_blitz_pipeline_regression.py
Due: jscpd

[dev] Verify chesscom/lichess pipeline regressions
  app-progress.txt
  src/tactix/app/use_cases/pipeline_run.py
  tmp-logs/feature_010_lichess_blitz_output.json
  tmp-logs/regression_chesscom_bullet_dashboard_summary_2026-02-07.json
  tmp-logs/regression_chesscom_bullet_db_checks_2026-02-07.json
  tmp-logs/regression_chesscom_bullet_pipeline_2026-02-07.json
  tmp-logs/regression_chesscom_bullet_ui_2026-02-07.log
  tmp-logs/regression_db_checks.py
  tmp-logs/regression_lichess_blitz_dashboard_summary_2026-02-07.json
  tmp-logs/regression_lichess_blitz_db_checks_2026-02-07.json
  tmp-logs/regression_lichess_blitz_pipeline_2026-02-07.json
  tmp-logs/regression_lichess_blitz_ui_2026-02-07.log
  verification/puppeteer_regression_chesscom_bullet_pipeline_2026_02_07.js
  verification/puppeteer_regression_lichess_blitz_pipeline_2026_02_07.js
  verification/regression-chesscom-bullet-pipeline-2026-02-07.png
  verification/regression-lichess-blitz-pipeline-2026-02-07.png
Due: ty-check, xenon, vulture, jscpd

[dev] Add canonical chess.com verification issues
  feature_list.json
Due: none

[dev] Add regression verification artifacts (2026-02-07)
  tmp-logs/regression_chesscom_bullet_dashboard_summary_2026-02-07.json
  tmp-logs/regression_chesscom_bullet_db_checks_2026-02-07.json
  tmp-logs/regression_chesscom_bullet_pipeline_2026-02-07.json
  tmp-logs/regression_lichess_blitz_pipeline_2026-02-07.json
  verification/regression-chesscom-bullet-pipeline-2026-02-07.png
  verification/regression-lichess-blitz-pipeline-2026-02-07.png
Due: none

[dev] Document regression verification and issue intake
  app-progress.txt
Due: none

[EndUser] Commit to sync up. Must still verify whether or not the feature is completed.
  src/tactix/app/use_cases/pipeline_run.py
  tests/test_chesscom_bullet_pipeline_2026_02_01.py
  tmp-logs/feature_chesscom_bullet_canonical_integration_2026_02_07.duckdb
  tmp-logs/feature_chesscom_bullet_canonical_integration_2026_02_07.json
  tmp-logs/feature_chesscom_bullet_canonical_ui_2026_02_07.duckdb
  tmp-logs/feature_chesscom_bullet_canonical_ui_2026_02_07.json
  verification/failed-feature-chesscom-bullet-canonical-2026-02-01.png
  verification/feature-chesscom-bullet-canonical-2026-02-01.png
  verification/integration_feature_chesscom_bullet_canonical_2026_02_01.js
  verification/puppeteer_feature_chesscom_bullet_canonical_2026_02_01.js
Due: ty-check, xenon, vulture, jscpd

[dev]Verify chess.com bullet pipeline canonical scenario
  app-progress.txt
  feature_list.json
  tests/test_api_chesscom_bullet_pipeline_canonical.py
  tmp-logs/feature_chesscom_bullet_canonical_integration_2026_02_07.duckdb
  tmp-logs/feature_chesscom_bullet_canonical_integration_2026_02_07.json
  tmp-logs/feature_pipeline_validation_chesscom_2026_02_01.json
  tmp-logs/feature_pipeline_validation_chesscom_bullet_ui_2026_02_07.json
  verification/feature-pipeline-validation-chesscom-bullet-2026-02-01-2026-02-07.png
  verification/integration_feature_chesscom_bullet_canonical_2026_02_01.js
Due: jscpd

[dev] Document canonical pipeline validation
  app-progress.txt
Due: none

updated orchestrator instructions
  .github/agents/orchestrator.agent.md
Due: none

sync
  tests/test_api_chesscom_bullet_pipeline_canonical.py
  tests/test_api_lichess_blitz_pipeline_regression.py
  tests/test_chesscom_bullet_pipeline_2026_02_01.py
  tmp-logs/debug_loss_hanging.py
  verification/integration_feature_chesscom_bullet_canonical_2026_02_01.js
Due: jscpd

sync
  src/tactix/_is_moved_piece_hanging_after_move.py
  src/tactix/analyze_position.py
  src/tactix/repomix-output.xml
  tests/fixtures/chesscom_2_bullet_games.pgn
  tmp-logs/debug_all_moves_hanging.py
  tmp-logs/debug_candidate_bishop_blunders.py
  tmp-logs/debug_hanging_piece_diagnose.py
  tmp-logs/debug_identify_hanging_moves.py
  tmp-logs/tmp7elgb_8s/debug_chesscom_2026_02_01.duckdb
  tmp-logs/tmp7elgb_8s/metrics_chesscom.txt
  tmp-logs/tmpcc0u75tn/debug_chesscom_2026_02_01.duckdb
  tmp-logs/tmpcc0u75tn/metrics_chesscom.txt
  tmp-logs/tmplcgp_net/debug_chesscom_2026_02_01.duckdb
  tmp-logs/tmplcgp_net/metrics_chesscom.txt
  tmp-logs/tmpq4168c4b/debug_chesscom_2026_02_01.duckdb
  tmp-logs/tmpq4168c4b/metrics_chesscom.txt
  tmp-logs/tmpriq1tylo/debug_chesscom_2026_02_01.duckdb
  tmp-logs/tmpriq1tylo/metrics_chesscom.txt
  tmp-logs/tmpuj9puruz/debug_chesscom_2026_02_01.duckdb
  tmp-logs/tmpuj9puruz/metrics_chesscom.txt
  tmp-logs/tmputefoah5/debug_chesscom_2026_02_01.duckdb
  tmp-logs/tmputefoah5/metrics_chesscom.txt
  tmp-logs/tmpv_clacwy/debug_chesscom_2026_02_01.duckdb
  tmp-logs/tmpv_clacwy/metrics_chesscom.txt
  tmp-logs/tmpwyk4hhh7/debug_chesscom_2026_02_01.duckdb
  tmp-logs/tmpwyk4hhh7/metrics_chesscom.txt
  tmp-logs/tmpz352r6f3/debug_chesscom_2026_02_01.duckdb
  tmp-logs/tmpz352r6f3/metrics_chesscom.txt
Due: ty-check, xenon, vulture, jscpd

sync
  tmp-logs/debug_identify_hanging_moves.py
Due: jscpd

sync
  src/tactix/_infer_hanging_or_detected_motif.py
  tmp_debug_motif.py
Due: ty-check, xenon, vulture, jscpd

[dev] Fix PLR0911 in hanging motif inference
  app-progress.txt
  src/tactix/_infer_hanging_or_detected_motif.py
Due: ty-check, xenon, vulture, jscpd

[dev] Add newly opened GitHub issues to feature list
  feature_list.json
Due: none

sync
  client/public/boards/listudy-blue.svg
  client/public/boards/listudy-brown.svg
  client/public/pieces/cburnett/bB.svg
  client/public/pieces/cburnett/bK.svg
  client/public/pieces/cburnett/bN.svg
  client/public/pieces/cburnett/bP.svg
  client/public/pieces/cburnett/bQ.svg
  client/public/pieces/cburnett/bR.svg
  client/public/pieces/cburnett/wB.svg
  client/public/pieces/cburnett/wK.svg
  client/public/pieces/cburnett/wN.svg
  client/public/pieces/cburnett/wP.svg
  client/public/pieces/cburnett/wQ.svg
  client/public/pieces/cburnett/wR.svg
  client/src/_components/PracticeAttemptCard.tsx
Due: eslint, prettier, knip, jscpd

sync
  tmp8zuleieq/metrics_version.txt
  tmp8zuleieq/tactix.duckdb
  tmp8zuleieq/tactix_feature_pipeline_validation_2026_02_01.duckdb
  tmp_debug_bishop.py
  tmp_debug_bishop_out.txt
  tmp_debug_fork.py
  tmp_debug_pipeline.py
  tmp_debug_pipeline.txt
  tmp_find_hanging.py
  tmp_query_moves.py
  tmpllqd7_bi/metrics_version.txt
  tmpllqd7_bi/tactix.duckdb
  tmpllqd7_bi/tactix_feature_pipeline_validation_2026_02_01.duckdb
  tmpws5v0k7w/metrics_version.txt
  tmpws5v0k7w/tactix.duckdb
  tmpws5v0k7w/tactix_feature_pipeline_validation_2026_02_01.duckdb
  tmpxyyemft3/metrics_version.txt
  tmpxyyemft3/tactix.duckdb
  tmpxyyemft3/tactix_feature_pipeline_validation_2026_02_01.duckdb
Due: jscpd

[dev] Fix hanging-piece and mate/skewer regression
  Makefile
  app-progress.txt
  src/tactix/BaseTacticDetector.py
  src/tactix/analyze_position.py
Due: ty-check, xenon, vulture, jscpd

[dev] reduce xenon complexity in tactics helpers
  app-progress.txt
  src/tactix/BaseTacticDetector.py
  src/tactix/_infer_hanging_or_detected_motif.py
  src/tactix/_is_moved_piece_hanging_after_move.py
  src/tactix/_should_override_motif.py
  src/tactix/analyze_position.py
  src/tactix/app/use_cases/pipeline_run.py
Due: ty-check, xenon, vulture, jscpd

[dev] Use shared moved-piece hanging helper
  app-progress.txt
  src/tactix/_is_moved_piece_hanging_after_move.py
  src/tactix/analyze_position.py
Due: ty-check, xenon, vulture, jscpd

[dev]Add PGN fixture parsing test
  app-progress.txt
  tests/test_pgn_fixture_parsing.py
Due: jscpd

Path conditions:
  ty-check: any of: ^src/.*\.py$
  xenon: any of: ^src/.*\.py$
  vulture: any of: ^src/.*\.py$
  eslint: any of: ^client/.*\.(js|jsx|ts|tsx)$
  prettier: any of: ^client/.*\.(js|jsx|ts|tsx|json|css)$
  knip: any of: ^client/
  jscpd: any of: \.(py|js|jsx|ts|tsx)$
