Repository aaweaver-actuary/tactix: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, ty-check, mypy, pylint, flake8, pydocstyle, prospector, xenon, pycycle, vulture, knip, jscpd, safety, bandit, dodgy, pytest, vitest, cargo-test, cargo-test-release, cargo-build, client-build

eslint:
  name: js- eslint (fix)
  entry: bash -c 'cd client && npx eslint --fix . --ext .js,.jsx,.ts,.tsx'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

prettier:
  name: js- prettier (write)
  entry: bash -c 'cd client && npx prettier --write --cache .'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

ty-check:
  name: python- ty check
  entry: uv run ty check --error deprecated src/
  language: system
  pass_filenames: false
  stages:
  - pre-push

mypy:
  name: python- mypy
  entry: uv run mypy src/
  language: system
  pass_filenames: false
  stages:
  - pre-push

pylint:
  name: python- pylint
  entry: uv run pylint --rcfile=pyproject.toml src/
  language: system
  pass_filenames: false
  stages:
  - pre-push

flake8:
  name: python- flake8
  entry: uv run flake8 src/
  language: system
  pass_filenames: false
  stages:
  - pre-push

pydocstyle:
  name: python- pydocstyle
  entry: uv run pydocstyle src/
  language: system
  pass_filenames: false
  stages:
  - pre-push

prospector:
  name: python -- prospector
  entry: uv run prospector -A src/
  language: system
  pass_filenames: false
  stages:
  - pre-push

xenon:
  name: python -- xenon complexity
  entry: uv run xenon --max-absolute A --max-modules A --max-average A src/
  language: system
  pass_filenames: false
  stages:
  - pre-push

pycycle:
  name: python -- pycycle (circular deps)
  entry: uv run pycycle --here
  language: system
  pass_filenames: false
  stages:
  - pre-push

vulture:
  name: python -- vulture dead code
  ...

knip:
  name: js -- knip dead code
  entry: bash -c 'cd client && npx knip'
  language: system
  pass_filenames: false
  stages:
  - pre-push

jscpd:
  name: 'dup: jscpd'
  ...

safety:
  name: 'sec: safety'
  entry: uv run safety check --full-report
  language: system
  pass_filenames: false
  stages:
  - pre-push

bandit:
  name: 'sec: bandit'
  entry: uv run bandit -r src/ -lll
  language: system
  pass_filenames: false
  stages:
  - pre-push

dodgy:
  name: 'sec: dodgy'
  entry: uv run dodgy --max-line-complexity 10 src/
  language: system
  pass_filenames: false
  stages:
  - pre-push

pytest:
  name: test -- pytest (coverage)
  entry: 'uv run pytest tests/ --cov=src/ --cov-config=./.coveragerc --cov-report=term-missing --cov-fail-under=95
  
    '
  language: system
  pass_filenames: false
  stages:
  - pre-push

vitest:
  name: test -- vitest (coverage)
  entry: bash -c 'cd client && npx vitest run --coverage'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-test:
  name: test -- cargo test
  entry: uv run cargo test
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-test-release:
  name: test -- cargo test --release
  entry: uv run cargo test --release
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-build:
  name: 'build: cargo build --release'
  entry: uv run cargo build --release
  language: system
  pass_filenames: false
  stages:
  - pre-push

[dev]Update progress notes for scoped motif UI
  claude-progress.txt
Due: none

[dev]Remove initiative motif - verified end-to-end
  claude-progress.txt
  feature_list.json
  src/tactix/BaseTacticDetector.py
  src/tactix/TacticDetectionService.py
  src/tactix/_infer_hanging_or_detected_motif.py
  src/tactix/analyze_position.py
  src/tactix/analyze_tactics__positions.py
  src/tactix/tactic_scope.py
  tests/test_tactic_scope.py
  verification/dashboard-motif-filters.png
  verification/dashboard-practice-attempt-grading.png
  verification/feature-chessboard-modal-closed-2026-02-09.png
  verification/feature-chessboard-modal-open-2026-02-09.png
  verification/feature-dashboard-cards-collapsible-move-2026-02-08.png
  verification/feature-game-detail-modal-2026-02-08.png
  verification/feature-listudy-assets-2026-02-08.png
  verification/feature-open-lichess-link-2026-02-08.png
  verification/feature-remove-initiative-2026-02-09.png
  verification/feature-settings-modal-closed-2026-02-09.png
  verification/feature-settings-modal-open-2026-02-09.png
  verification/integration_feature_remove_initiative.js
  verification/puppeteer_feature_remove_initiative.js
Due: ty-check, mypy, pylint, flake8, pydocstyle, prospector, xenon, pycycle, vulture, jscpd, bandit, dodgy, pytest

[refactor] extract motif scope helpers - reduce duplication
  claude-progress.txt
  client/src/flows/DashboardFlow.tsx
  client/src/utils/motifScope.test.ts
  client/src/utils/motifScope.ts
Due: eslint, prettier, knip, jscpd, vitest, client-build

[dev]Add BaseChessboard and verify ChessboardModal
  claude-progress.txt
  client/src/_components/BaseChessboard.test.tsx
  client/src/_components/BaseChessboard.tsx
  client/src/_components/Chessboard.tsx
  client/src/_components/ChessboardModal.tsx
  client/src/_components/PracticeAttemptCard.tsx
  client/src/flows/DashboardFlow.tsx
  client/src/utils/motifScope.ts
  feature_list.json
  verification/dashboard-motif-filters.png
  verification/dashboard-practice-attempt-grading.png
  verification/feature-chessboard-modal-closed-2026-02-09.png
  verification/feature-chessboard-modal-open-2026-02-09.png
  verification/feature-dashboard-cards-collapsible-move-2026-02-08.png
  verification/feature-game-detail-modal-2026-02-08.png
  verification/feature-listudy-assets-2026-02-08.png
  verification/feature-modal-escape-closed-2026-02-09.png
  verification/feature-modal-escape-open-2026-02-09.png
  verification/feature-open-lichess-link-2026-02-08.png
  verification/feature-settings-modal-closed-2026-02-09.png
  verification/feature-settings-modal-open-2026-02-09.png
  verification/integration_feature_chessboard_modal.js
  verification/issue-practice-progress-2026-02-08.png
  verification/ui-enter-submit-2026-02-08.png
Due: eslint, prettier, knip, jscpd, vitest, client-build

[dev]Add floating action button settings entry - verified end-to-end
  claude-progress.txt
  client/src/_components/FiltersCard.tsx
  client/src/_components/FloatingActionButton.tsx
  client/src/components.ts
  client/src/flows/DashboardFlow.test.tsx
  client/src/flows/DashboardFlow.tsx
  feature_list.json
  verification/feature-fab-filters-closed-desktop-2026-02-09.png
  verification/feature-fab-filters-closed-mobile-2026-02-09.png
  verification/feature-fab-filters-open-desktop-2026-02-09.png
  verification/feature-fab-filters-open-mobile-2026-02-09.png
  verification/helpers/filters_modal_helpers.js
  verification/helpers/run_dashboard_regression.js
  verification/integration_feature_settings_modal.js
  verification/puppeteer_feature_settings_modal.js
Due: eslint, prettier, knip, jscpd, vitest, client-build

[dev]Fix FAB action typing for deadcode check
  claude-progress.txt
  client/src/flows/DashboardFlow.tsx
Due: eslint, prettier, knip, jscpd, vitest, client-build

[dev] Re-enable mypy override errors
  claude-progress.txt
  feature_list.json
  pyproject.toml
  src/tactix/BaseTacticDetector.py
Due: ty-check, mypy, pylint, flake8, pydocstyle, prospector, xenon, pycycle, vulture, jscpd, safety, bandit, dodgy, pytest, cargo-test, cargo-test-release, cargo-build

[dev] Refresh verification screenshots
  verification/dashboard-motif-filters.png
  verification/dashboard-practice-attempt-grading.png
  verification/feature-chessboard-modal-closed-2026-02-09.png
  verification/feature-chessboard-modal-open-2026-02-09.png
  verification/feature-dashboard-cards-collapsible-move-2026-02-08.png
  verification/feature-fab-filters-closed-desktop-2026-02-09.png
  verification/feature-fab-filters-closed-mobile-2026-02-09.png
  verification/feature-fab-filters-open-desktop-2026-02-09.png
  verification/feature-fab-filters-open-mobile-2026-02-09.png
  verification/feature-listudy-assets-2026-02-08.png
  verification/feature-modal-escape-closed-2026-02-09.png
  verification/feature-modal-escape-open-2026-02-09.png
  verification/feature-open-lichess-link-2026-02-08.png
  verification/issue-practice-progress-2026-02-08.png
  verification/ui-enter-submit-2026-02-08.png
Due: none

[dev] Log verification runs for mypy re-enable
  claude-progress.txt
Due: none

[dev] Track MVP step-by-step issue
  feature_list.json
Due: none

[dev] Refresh regression evidence and ChessboardModal test
  claude-progress.txt
  client/src/_components/ChessboardModal.test.tsx
  verification/feature-chessboard-modal-closed-2026-02-09.png
  verification/feature-chessboard-modal-open-2026-02-09.png
  verification/feature-fab-filters-closed-desktop-2026-02-09.png
  verification/feature-fab-filters-closed-mobile-2026-02-09.png
  verification/feature-fab-filters-open-desktop-2026-02-09.png
  verification/feature-fab-filters-open-mobile-2026-02-09.png
  verification/feature-scope-motifs-2026-02-09.png
Due: eslint, prettier, knip, jscpd, vitest, client-build

[refactor] add scoped motif regression tests
  claude-progress.txt
  client/src/flows/DashboardFlow.test.tsx
  client/src/utils/motifScope.test.ts
Due: eslint, prettier, knip, jscpd, vitest, client-build

[dev] Add practice modal scheduling flow
  claude-progress.txt
  client/src/_components/ChessboardModal.test.tsx
  client/src/_components/ChessboardModal.tsx
  client/src/_components/PracticeAttemptCard.test.tsx
  client/src/_components/PracticeAttemptCard.tsx
  client/src/_components/PracticeModalContent.tsx
  client/src/api.ts
  client/src/flows/DashboardFlow.test.tsx
  client/src/flows/DashboardFlow.tsx
  client/src/utils/listudyAssets.ts
  pyproject.toml
  src/tactix/db/_migration_add_practice_schedule.py
  src/tactix/db/duckdb_store.py
  src/tactix/db/duckdb_tactic_repository.py
  src/tactix/domain/spaced_repetition.py
  tests/test_duckdb_tactic_repository.py
  tests/test_spaced_repetition.py
  uv.lock
  verification/dashboard-motif-filters.png
  verification/dashboard-practice-attempt-grading.png
  verification/enter_submit_helpers.js
  verification/feature-107-fen-positions-2026-01-27.png
  verification/feature-110-dashboard-lichess-2026-02-10.png
  verification/feature-chessboard-modal-closed-2026-02-09.png
  verification/feature-chessboard-modal-open-2026-02-09.png
  verification/feature-fab-filters-closed-mobile-2026-02-09.png
  verification/feature-fab-filters-open-desktop-2026-02-09.png
  verification/feature-fab-filters-open-mobile-2026-02-09.png
  verification/feature-game-detail-modal-2026-02-08.png
  verification/feature-listudy-assets-2026-02-08.png
  verification/feature-modal-escape-closed-2026-02-09.png
  verification/feature-modal-escape-open-2026-02-09.png
  verification/feature-open-lichess-link-2026-02-08.png
  verification/integration_issue_practice_progress.js
  verification/issue-practice-progress-2026-02-08.png
  verification/puppeteer_issue_practice_progress.js
  verification/puppeteer_practice_attempt.js
  verification/ui-enter-submit-2026-02-08.png
Due: eslint, prettier, ty-check, mypy, pylint, flake8, pydocstyle, prospector, xenon, pycycle, vulture, knip, jscpd, safety, bandit, dodgy, pytest, vitest, cargo-test, cargo-test-release, cargo-build, client-build

[dev] Add latest GitHub issues to feature list
  feature_list.json
Due: none

[dev] Remove dashboard filters card
  claude-progress.txt
  client/src/_components/FiltersCard.tsx
  client/src/flows/DashboardFlow.test.tsx
  client/src/flows/DashboardFlow.tsx
  feature_list.json
  verification/feature-chessboard-modal-closed-2026-02-09.png
  verification/feature-chessboard-modal-open-2026-02-09.png
  verification/feature-fab-filters-closed-desktop-2026-02-09.png
  verification/feature-fab-filters-closed-desktop-2026-02-10.png
  verification/feature-fab-filters-closed-mobile-2026-02-09.png
  verification/feature-fab-filters-closed-mobile-2026-02-10.png
  verification/feature-fab-filters-open-desktop-2026-02-09.png
  verification/feature-fab-filters-open-desktop-2026-02-10.png
  verification/feature-fab-filters-open-mobile-2026-02-09.png
  verification/feature-fab-filters-open-mobile-2026-02-10.png
  verification/integration_feature_settings_modal.js
  verification/puppeteer_feature_settings_modal.js
Due: eslint, prettier, knip, jscpd, vitest, client-build

[refactor] extract filters form – clarify modal chrome
  claude-progress.txt
  client/src/_components/FiltersCard.tsx
Due: eslint, prettier, knip, jscpd, vitest, client-build

[dev]Add FAB database modal and move Postgres cards
  claude-progress.txt
  client/src/_components/DatabaseModal.tsx
  client/src/_components/PostgresAnalysisCard.tsx
  client/src/_components/PostgresRawPgnsCard.tsx
  client/src/_components/PostgresStatusCard.tsx
  client/src/components.ts
  client/src/flows/DashboardFlow.tsx
  feature_list.json
  verification/dashboard-motif-filters.png
  verification/dashboard-practice-attempt-grading.png
  verification/enter_submit_helpers.js
  verification/failed-ui-enter-submit-2026-02-08.png
  verification/feature-chessboard-modal-closed-2026-02-09.png
  verification/feature-chessboard-modal-open-2026-02-09.png
  verification/feature-dashboard-cards-collapsible-move-2026-02-08.png
  verification/feature-fab-database-modal-2026-02-10.png
  verification/feature-fab-filters-closed-desktop-2026-02-10.png
  verification/feature-fab-filters-closed-mobile-2026-02-10.png
  verification/feature-fab-filters-open-desktop-2026-02-10.png
  verification/feature-fab-filters-open-mobile-2026-02-10.png
  verification/feature-game-detail-modal-2026-02-08.png
  verification/feature-listudy-assets-2026-02-08.png
  verification/feature-modal-escape-closed-2026-02-09.png
  verification/feature-modal-escape-open-2026-02-09.png
  verification/feature-open-lichess-link-2026-02-08.png
  verification/integration_feature_database_modal.js
  verification/puppeteer_feature_database_modal.js
  verification/puppeteer_feature_listudy_assets.js
  verification/puppeteer_issue_enter_submit.js
  verification/ui-enter-submit-2026-02-08.png
Due: eslint, prettier, knip, jscpd, vitest, client-build

[dev]Add practice button entry point
  claude-progress.txt
  client/src/components.ts
  client/src/flows/DashboardFlow.test.tsx
  client/src/flows/DashboardFlow.tsx
  feature_list.json
  verification/feature-chessboard-modal-closed-2026-02-09.png
  verification/feature-chessboard-modal-open-2026-02-09.png
  verification/feature-fab-database-modal-2026-02-10.png
  verification/feature-fab-filters-closed-desktop-2026-02-10.png
  verification/feature-fab-filters-closed-mobile-2026-02-10.png
  verification/feature-fab-filters-open-desktop-2026-02-10.png
  verification/feature-fab-filters-open-mobile-2026-02-10.png
  verification/feature-modal-escape-closed-2026-02-09.png
  verification/feature-modal-escape-open-2026-02-09.png
  verification/feature-practice-button-2026-02-10.png
  verification/integration_feature_practice_button.js
  verification/puppeteer_feature_practice_button.js
Due: eslint, prettier, knip, jscpd, vitest, client-build

[refactor] extract practice button state helpers
  claude-progress.txt
  client/src/flows/DashboardFlow.tsx
Due: eslint, prettier, knip, jscpd, vitest, client-build

[dev] Add new GitHub issues to feature list
  claude-progress.txt
  feature_list.json
Due: none

[dev] Flip practice modal board to side-to-move
  claude-progress.txt
  client/src/flows/DashboardFlow.tsx
  feature_list.json
  verification/dashboard-practice-attempt-grading.png
  verification/feature-chessboard-modal-closed-2026-02-09.png
  verification/feature-chessboard-modal-open-2026-02-09.png
  verification/feature-dashboard-cards-collapsible-move-2026-02-08.png
  verification/feature-fab-database-modal-2026-02-10.png
  verification/feature-fab-filters-closed-desktop-2026-02-10.png
  verification/feature-fab-filters-closed-mobile-2026-02-10.png
  verification/feature-fab-filters-open-desktop-2026-02-10.png
  verification/feature-fab-filters-open-mobile-2026-02-10.png
  verification/feature-game-detail-modal-2026-02-08.png
  verification/feature-listudy-assets-2026-02-08.png
  verification/feature-modal-escape-closed-2026-02-09.png
  verification/feature-modal-escape-open-2026-02-09.png
  verification/feature-open-lichess-link-2026-02-08.png
  verification/feature-practice-button-2026-02-10.png
  verification/feature-practice-orientation-2026-02-10.png
  verification/feature-remove-initiative-2026-02-09.png
  verification/integration_feature_practice_orientation.js
  verification/puppeteer_feature_game_detail_modal.js
  verification/puppeteer_feature_practice_orientation.js
Due: eslint, prettier, knip, jscpd, vitest, client-build

[refactor] extract practice move builder
  claude-progress.txt
  client/src/flows/DashboardFlow.tsx
  client/src/utils/buildPracticeMove.test.ts
  client/src/utils/buildPracticeMove.ts
Due: eslint, prettier, knip, jscpd, vitest, client-build

[dev] Hide practice best move until after attempt
  claude-progress.txt
  client/src/_components/ChessboardModal.test.tsx
  client/src/_components/PracticeModalContent.tsx
  client/src/utils/buildPracticeMove.ts
  feature_list.json
  verification/dashboard-practice-attempt-grading.png
  verification/feature-chessboard-modal-closed-2026-02-09.png
  verification/feature-chessboard-modal-open-2026-02-09.png
  verification/feature-dashboard-cards-collapsible-move-2026-02-08.png
  verification/feature-fab-database-modal-2026-02-10.png
  verification/feature-fab-filters-closed-desktop-2026-02-10.png
  verification/feature-fab-filters-closed-mobile-2026-02-10.png
  verification/feature-fab-filters-open-desktop-2026-02-10.png
  verification/feature-fab-filters-open-mobile-2026-02-10.png
  verification/feature-game-detail-modal-2026-02-08.png
  verification/feature-listudy-assets-2026-02-08.png
  verification/feature-modal-escape-closed-2026-02-09.png
  verification/feature-modal-escape-open-2026-02-09.png
  verification/feature-open-lichess-link-2026-02-08.png
  verification/feature-practice-best-move-hidden-after-2026-02-10.png
  verification/feature-practice-best-move-hidden-before-2026-02-10.png
  verification/feature-practice-button-2026-02-10.png
  verification/feature-practice-orientation-2026-02-10.png
  verification/feature-remove-initiative-2026-02-09.png
  verification/integration_feature_practice_best_move_hidden.js
  verification/puppeteer_feature_practice_best_move_hidden.js
  verification/puppeteer_practice_attempt.js
Due: eslint, prettier, knip, jscpd, vitest, client-build

[refactor] extract modal header - reduce duplication
  claude-progress.txt
  client/src/_components/ChessboardModal.tsx
  client/src/_components/ModalHeader.tsx
  client/src/_components/PracticeModalContent.tsx
Due: eslint, prettier, knip, jscpd, vitest, client-build

[dev] Fix practice availability for all sources
  claude-progress.txt
  client/src/_components/PracticeModalContent.tsx
  client/src/flows/DashboardFlow.tsx
  feature_list.json
  src/tactix/app/use_cases/practice.py
  verification/dashboard-practice-attempt-grading.png
  verification/feature-fab-filters-closed-desktop-2026-02-10.png
  verification/feature-fab-filters-closed-mobile-2026-02-10.png
  verification/feature-fab-filters-open-desktop-2026-02-10.png
  verification/feature-fab-filters-open-mobile-2026-02-10.png
  verification/feature-listudy-assets-2026-02-08.png
  verification/feature-modal-escape-closed-2026-02-09.png
  verification/feature-modal-escape-open-2026-02-09.png
  verification/feature-open-lichess-link-2026-02-08.png
  verification/feature-practice-all-sources-2026-02-10.png
  verification/feature-practice-best-move-hidden-after-2026-02-10.png
  verification/feature-practice-best-move-hidden-before-2026-02-10.png
  verification/feature-practice-button-2026-02-10.png
  verification/feature-remove-initiative-2026-02-09.png
  verification/integration_feature_practice_all_sources.js
  verification/integration_issue_practice_progress.js
  verification/puppeteer_feature_practice_all_sources.js
  verification/puppeteer_practice_attempt.js
Due: eslint, prettier, ty-check, mypy, pylint, flake8, pydocstyle, prospector, xenon, pycycle, vulture, knip, jscpd, bandit, dodgy, pytest, vitest, client-build

[refactor] Extract practice session update helper - single responsibility
  claude-progress.txt
  client/src/flows/DashboardFlow.tsx
  client/src/utils/practiceSession.test.ts
  client/src/utils/practiceSession.ts
Due: eslint, prettier, knip, jscpd, vitest, client-build

[dev] Move source selector into filters modal
  claude-progress.txt
  client/src/App.stream.test.tsx
  client/src/_components/Hero.test.tsx
  client/src/_components/Hero.tsx
  client/src/flows/DashboardFlow.tsx
  feature_list.json
  verification/dashboard-practice-attempt-grading.png
  verification/feature-chessboard-modal-closed-2026-02-09.png
  verification/feature-chessboard-modal-open-2026-02-09.png
  verification/feature-fab-database-modal-2026-02-10.png
  verification/feature-fab-filters-closed-desktop-2026-02-10.png
  verification/feature-fab-filters-closed-mobile-2026-02-10.png
  verification/feature-fab-filters-open-desktop-2026-02-10.png
  verification/feature-fab-filters-open-mobile-2026-02-10.png
  verification/feature-listudy-assets-2026-02-08.png
  verification/feature-modal-escape-closed-2026-02-09.png
  verification/feature-modal-escape-open-2026-02-09.png
  verification/feature-open-lichess-link-2026-02-08.png
  verification/feature-practice-all-sources-2026-02-10.png
  verification/feature-practice-best-move-hidden-after-2026-02-10.png
  verification/feature-practice-best-move-hidden-before-2026-02-10.png
  verification/feature-practice-orientation-2026-02-10.png
  verification/feature-source-filter-header-2026-02-10.png
  verification/feature-source-filter-modal-2026-02-10.png
  verification/integration_feature_source_filter.js
  verification/puppeteer_feature_dashboard_combined_filters.js
  verification/puppeteer_feature_source_filter.js
Due: eslint, prettier, knip, jscpd, vitest, client-build

[refactor] Extract hero sections – single-responsibility layout
  claude-progress.txt
  client/src/_components/Hero.tsx
Due: eslint, prettier, knip, jscpd, vitest, client-build

[dev] MVP step-by-step metrics + verification
  claude-progress.txt
  client/src/_components/MotifTrendsCard.tsx
  client/src/flows/DashboardFlow.tsx
  feature_list.json
  src/tactix/db/duckdb_metrics_repository.py
  tests/test_metrics_refresh.py
  verification/dashboard-practice-attempt-grading.png
  verification/feature-chessboard-modal-closed-2026-02-09.png
  verification/feature-chessboard-modal-open-2026-02-09.png
  verification/feature-dashboard-cards-collapsible-move-2026-02-08.png
  verification/feature-fab-database-modal-2026-02-10.png
  verification/feature-fab-filters-closed-desktop-2026-02-10.png
  verification/feature-fab-filters-closed-mobile-2026-02-10.png
  verification/feature-fab-filters-open-desktop-2026-02-10.png
  verification/feature-fab-filters-open-mobile-2026-02-10.png
  verification/feature-listudy-assets-2026-02-08.png
  verification/feature-modal-escape-closed-2026-02-09.png
  verification/feature-modal-escape-open-2026-02-09.png
  verification/feature-mvp-step-dashboard-2026-02-10.png
  verification/feature-mvp-step-practice-2026-02-10.png
  verification/feature-open-lichess-link-2026-02-08.png
  verification/feature-practice-all-sources-2026-02-10.png
  verification/feature-practice-best-move-hidden-after-2026-02-10.png
  verification/feature-practice-best-move-hidden-before-2026-02-10.png
  verification/feature-practice-button-2026-02-10.png
  verification/feature-practice-orientation-2026-02-10.png
  verification/integration_feature_mvp_step_by_step.js
  verification/puppeteer_feature_mvp_step_by_step.js
Due: eslint, prettier, ty-check, mypy, pylint, flake8, pydocstyle, prospector, xenon, pycycle, vulture, knip, jscpd, bandit, dodgy, pytest, vitest, client-build

[refactor] Extract time-trouble rate helper - single responsibility
  claude-progress.txt
  src/tactix/db/duckdb_metrics_repository.py
  tests/test_duckdb_metrics_repository.py
Due: ty-check, mypy, pylint, flake8, pydocstyle, prospector, xenon, pycycle, vulture, jscpd, bandit, dodgy, pytest

[dev]Add MotifTrendsCard tests and fix dashboard regressions
  claude-progress.txt
  client/src/_components/BaseCard.tsx
  client/src/_components/MetricsTrends.test.tsx
  client/src/_components/MetricsTrends.tsx
  client/src/_components/MotifTrendsCard.test.tsx
  client/src/_components/MotifTrendsCard.tsx
  client/src/flows/DashboardFlow.test.tsx
  client/src/flows/DashboardFlow.tsx
  client/src/utils/motifScope.ts
  feature_list.json
  verification/feature-chessboard-modal-closed-2026-02-09.png
  verification/feature-fab-filters-closed-desktop-2026-02-10.png
  verification/feature-fab-filters-closed-mobile-2026-02-10.png
  verification/feature-fab-filters-open-mobile-2026-02-10.png
  verification/feature-source-filter-header-2026-02-10.png
  verification/feature-source-filter-modal-2026-02-10.png
  verification/puppeteer_feature_mvp_step_by_step.js
  verification/regression-mvp-step-dashboard-2026-02-10T06-37-38.png
  verification/regression-mvp-step-practice-2026-02-10T06-37-38.png
  verification/regression-puppeteer_feature_chessboard_modal-2026-02-10T06-37-58.png
  verification/regression-puppeteer_feature_dashboard_cards_collapsible_move-2026-02-10T06-41-39.png
  verification/regression-puppeteer_feature_game_detail_modal-2026-02-10T06-37-58.png
  verification/regression-puppeteer_feature_listudy_assets-2026-02-10T06-37-58.png
  verification/regression-puppeteer_feature_practice_all_sources-2026-02-10T06-37-58.png
  verification/regression-puppeteer_feature_practice_button-2026-02-10T06-37-58.png
  verification/regression-puppeteer_feature_practice_orientation-2026-02-10T06-37-58.png
  verification/regression-puppeteer_feature_settings_modal-2026-02-10T06-37-58.png
Due: eslint, prettier, knip, jscpd, vitest, client-build

[refactor] Extract BaseCard drag handle - single responsibility
  claude-progress.txt
  client/src/_components/BaseCard.tsx
Due: eslint, prettier, knip, jscpd, vitest, client-build

[dev] Add MotifCard tests and re-verify regressions
  claude-progress.txt
  client/src/_components/MotifCard.test.tsx
  feature_list.json
  verification/feature-chessboard-modal-closed-2026-02-09.png
  verification/feature-chessboard-modal-open-2026-02-09.png
  verification/feature-dashboard-cards-collapsible-move-2026-02-08.png
  verification/feature-fab-database-modal-2026-02-10.png
  verification/feature-fab-filters-closed-desktop-2026-02-10.png
  verification/feature-fab-filters-closed-mobile-2026-02-10.png
  verification/feature-fab-filters-open-desktop-2026-02-10.png
  verification/feature-fab-filters-open-mobile-2026-02-10.png
  verification/feature-game-detail-modal-2026-02-08.png
  verification/feature-listudy-assets-2026-02-08.png
  verification/feature-modal-escape-closed-2026-02-09.png
  verification/feature-modal-escape-open-2026-02-09.png
  verification/feature-open-lichess-link-2026-02-08.png
  verification/feature-practice-all-sources-2026-02-10.png
  verification/feature-practice-button-2026-02-10.png
  verification/feature-practice-orientation-2026-02-10.png
  verification/feature-source-filter-header-2026-02-10.png
  verification/feature-source-filter-modal-2026-02-10.png
Due: eslint, prettier, knip, jscpd, vitest, client-build

[refactor] Extract MotifCard header – component boundary
  claude-progress.txt
  client/src/_components/MotifCard.tsx
  client/src/_components/MotifCardHeader.test.tsx
  client/src/_components/MotifCardHeader.tsx
Due: eslint, prettier, knip, jscpd, vitest, client-build

[dev] Add MetricsSummaryGrid tests and verify regressions
  claude-progress.txt
  client/src/_components/MetricsSummaryGrid.test.tsx
  feature_list.json
  verification/feature-chessboard-modal-closed-2026-02-09.png
  verification/feature-chessboard-modal-open-2026-02-09.png
  verification/feature-dashboard-cards-collapsible-move-2026-02-08.png
  verification/feature-fab-database-modal-2026-02-10.png
  verification/feature-fab-filters-closed-desktop-2026-02-10.png
  verification/feature-fab-filters-closed-mobile-2026-02-10.png
  verification/feature-fab-filters-open-desktop-2026-02-10.png
  verification/feature-fab-filters-open-mobile-2026-02-10.png
  verification/feature-game-detail-modal-2026-02-08.png
  verification/feature-listudy-assets-2026-02-08.png
  verification/feature-modal-escape-closed-2026-02-09.png
  verification/feature-modal-escape-open-2026-02-09.png
  verification/feature-open-lichess-link-2026-02-08.png
  verification/feature-practice-all-sources-2026-02-10.png
  verification/feature-practice-button-2026-02-10.png
  verification/feature-practice-orientation-2026-02-10.png
  verification/feature-source-filter-header-2026-02-10.png
  verification/feature-source-filter-modal-2026-02-10.png
Due: eslint, prettier, knip, jscpd, vitest, client-build

[refactor] Extract chessboard panel – reduce duplication
  claude-progress.txt
  client/src/_components/ChessboardModal.tsx
  client/src/_components/ChessboardPanel.tsx
  client/src/_components/PracticeModalContent.tsx
Due: eslint, prettier, knip, jscpd, vitest, client-build

[dev] Add MetricsSummaryCard tests and verify regressions
  claude-progress.txt
  client/src/_components/MetricsSummaryCard.test.tsx
  feature_list.json
  verification/feature-chessboard-modal-closed-2026-02-09.png
  verification/feature-chessboard-modal-open-2026-02-09.png
  verification/feature-dashboard-cards-collapsible-move-2026-02-08.png
  verification/feature-fab-database-modal-2026-02-10.png
  verification/feature-fab-filters-closed-desktop-2026-02-10.png
  verification/feature-fab-filters-closed-mobile-2026-02-10.png
  verification/feature-fab-filters-open-desktop-2026-02-10.png
  verification/feature-fab-filters-open-mobile-2026-02-10.png
  verification/feature-game-detail-modal-2026-02-08.png
  verification/feature-listudy-assets-2026-02-08.png
  verification/feature-modal-escape-closed-2026-02-09.png
  verification/feature-modal-escape-open-2026-02-09.png
  verification/feature-open-lichess-link-2026-02-08.png
  verification/feature-practice-all-sources-2026-02-10.png
  verification/feature-practice-best-move-hidden-after-2026-02-10.png
  verification/feature-practice-best-move-hidden-before-2026-02-10.png
  verification/feature-practice-button-2026-02-10.png
  verification/feature-practice-orientation-2026-02-10.png
  verification/feature-source-filter-header-2026-02-10.png
  verification/feature-source-filter-modal-2026-02-10.png
Due: eslint, prettier, knip, jscpd, vitest, client-build

[refactor] Extract metrics summary cards – single responsibility
  claude-progress.txt
  client/src/_components/BaseMetricsCards.tsx
  client/src/_components/MetricsSummaryGrid.test.tsx
  client/src/_components/MetricsSummaryGrid.tsx
  client/src/_components/SourceSyncCards.tsx
Due: eslint, prettier, knip, jscpd, vitest, client-build

[dev] Refresh verification screenshots
  verification/feature-chessboard-modal-closed-2026-02-09.png
  verification/feature-chessboard-modal-open-2026-02-09.png
  verification/feature-dashboard-cards-collapsible-move-2026-02-08.png
  verification/feature-fab-database-modal-2026-02-10.png
  verification/feature-fab-filters-closed-desktop-2026-02-10.png
  verification/feature-fab-filters-closed-mobile-2026-02-10.png
  verification/feature-fab-filters-open-desktop-2026-02-10.png
  verification/feature-fab-filters-open-mobile-2026-02-10.png
  verification/feature-listudy-assets-2026-02-08.png
  verification/feature-modal-escape-closed-2026-02-09.png
  verification/feature-modal-escape-open-2026-02-09.png
  verification/feature-open-lichess-link-2026-02-08.png
  verification/feature-practice-all-sources-2026-02-10.png
  verification/feature-practice-best-move-hidden-after-2026-02-10.png
  verification/feature-practice-best-move-hidden-before-2026-02-10.png
  verification/feature-practice-button-2026-02-10.png
  verification/feature-practice-orientation-2026-02-10.png
Due: none

[dev] Add latest GitHub issues to feature list
  claude-progress.txt
  feature_list.json
Due: none

Path conditions:
  eslint: any of: ^client/.*\.(js|jsx|ts|tsx)$
  prettier: any of: ^client/.*\.(js|jsx|ts|tsx|json|css)$
  ty-check: any of: ^src/.*\.py$
  mypy: any of: ^src/.*\.py$
  pylint: any of: ^src/.*\.py$
  flake8: any of: ^src/.*\.py$
  pydocstyle: any of: ^src/.*\.py$
  prospector: any of: ^src/.*\.py$
  xenon: any of: ^src/.*\.py$
  pycycle: any of: ^src/.*\.py$
  vulture: any of: ^src/.*\.py$
  knip: any of: ^client/
  jscpd: any of: \.(py|js|jsx|ts|tsx)$
  safety: any of: ^(pyproject\.toml|uv\.lock|requirements.*\.txt)$
  bandit: any of: ^src/.*\.py$
  dodgy: any of: ^src/.*\.py$
  pytest: any of: ^(src/.*\.py|tests/.*\.py)$
  vitest: any of: ^client/
  cargo-test: any of: \.(rs|toml)$
  cargo-test-release: any of: \.(rs|toml)$
  cargo-build: any of: \.(rs|toml)$
  client-build: any of: ^client/
