Repository aaweaver-actuary/tactix: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, ty-check, mypy, pylint, flake8, pydocstyle, prospector, xenon, pycycle, vulture, knip, jscpd, safety, bandit, dodgy, pytest, vitest, cargo-test, cargo-test-release, cargo-build, client-build

Path conditions:
  eslint: any of: ^client/.*\.(js|jsx|ts|tsx)$
  prettier: any of: ^client/.*\.(js|jsx|ts|tsx|json|css)$
  ty-check: any of: ^src/.*\.py$
  mypy: any of: ^src/.*\.py$
  pylint: any of: ^src/.*\.py$
  flake8: any of: ^src/.*\.py$
  pydocstyle: any of: ^src/.*\.py$
  prospector: any of: ^src/.*\.py$
  xenon: any of: ^src/.*\.py$
  pycycle: any of: ^src/.*\.py$
  vulture: any of: ^src/.*\.py$
  knip: any of: ^client/
  jscpd: any of: \.(py|js|jsx|ts|tsx)$
  safety: any of: ^(pyproject\.toml|uv\.lock|requirements.*\.txt)$
  bandit: any of: ^src/.*\.py$
  dodgy: any of: ^src/.*\.py$
  pytest: any of: ^(src/.*\.py|tests/.*\.py)$
  vitest: any of: ^client/
  cargo-test: any of: \.(rs|toml)$
  cargo-test-release: any of: \.(rs|toml)$
  cargo-build: any of: \.(rs|toml)$
  client-build: any of: ^client/

[dev] Fix practice advance after correct attempts
  claude-progress.txt
  client/src/flows/DashboardFlow.tsx
  feature_list.json
  src/tactix/db/duckdb_tactic_repository.py
  tests/test_practice_attempt_grading.py
  verification/feature-chessboard-modal-closed-2026-02-09.png
  verification/integration_issue_practice_advance_correct.js
  verification/issue-practice-advance-correct-2026-02-10.png
  verification/puppeteer_issue_practice_advance_correct.js
  verification/regression-chessboard-modal-open-2026-02-10.png
  verification/regression-fab-database-modal-2026-02-10.png
  verification/regression-practice-button-2026-02-10.png
Due: eslint, prettier, ty-check, mypy, pylint, flake8, pydocstyle, prospector, xenon, pycycle, vulture, knip, jscpd, bandit, dodgy, pytest, vitest, client-build

[refactor] Extract practice scope reset – single responsibility
  claude-progress.txt
  client/src/flows/DashboardFlow.tsx
Due: eslint, prettier, knip, jscpd, vitest, client-build

[dev]Fix practice orientation flip after correct move
  claude-progress.txt
  client/src/flows/DashboardFlow.tsx
  feature_list.json
  verification/feature-chessboard-modal-closed-2026-02-09.png
  verification/feature-chessboard-modal-open-2026-02-09.png
  verification/feature-fab-database-modal-2026-02-10.png
  verification/feature-practice-button-2026-02-10.png
  verification/feature-practice-orientation-2026-02-10.png
  verification/integration_feature_practice_orientation.js
  verification/puppeteer_feature_practice_orientation.js
Due: eslint, prettier, knip, jscpd, vitest, client-build

[refactor] Reuse ModalHeader in filters modal
  claude-progress.txt
  client/src/_components/FiltersCard.tsx
Due: eslint, prettier, knip, jscpd, vitest, client-build

[dev] Redesign dashboard hero and verify
  claude-progress.txt
  client/src/_components/Hero.tsx
  client/src/styles.css
  feature_list.json
  verification/feature-chessboard-modal-closed-2026-02-09.png
  verification/feature-chessboard-modal-open-2026-02-09.png
  verification/feature-fab-database-modal-2026-02-10.png
  verification/feature-hero-redesign-desktop-2026-02-10.png
  verification/feature-hero-redesign-mobile-2026-02-10.png
  verification/feature-practice-button-2026-02-10.png
  verification/integration_feature_hero_redesign.js
  verification/puppeteer_feature_hero_redesign.js
Due: eslint, prettier, knip, jscpd, vitest, client-build

[refactor] Consolidate filters action button – single responsibility
  claude-progress.txt
  client/src/_components/FiltersCard.tsx
Due: eslint, prettier, knip, jscpd, vitest, client-build

[dev]Add recent tactics action buttons and coverage
  claude-progress.txt
  client/src/flows/DashboardFlow.test.tsx
  client/src/flows/DashboardFlow.tsx
  feature_list.json
  verification/feature-chessboard-modal-closed-2026-02-09.png
  verification/feature-recent-tactics-actions-2026-02-10.png
  verification/integration_feature_recent_tactics_actions.js
  verification/puppeteer_feature_recent_tactics_actions.js
  verification/regression-chessboard-modal-open-2026-02-10.png
  verification/regression-fab-database-modal-2026-02-10.png
  verification/regression-practice-button-2026-02-10.png
Due: eslint, prettier, knip, jscpd, vitest, client-build

[refactor] Extract tactics actions – component boundary
  claude-progress.txt
  client/src/_components/TacticsActionButtons.tsx
  client/src/components.ts
  client/src/flows/DashboardFlow.test.tsx
  client/src/flows/DashboardFlow.tsx
Due: eslint, prettier, knip, jscpd, vitest, client-build

[dev] Move recent games/tactics into FAB modals
  claude-progress.txt
  client/src/_components/RecentGamesModal.tsx
  client/src/_components/RecentTacticsModal.tsx
  client/src/components.ts
  client/src/flows/DashboardFlow.test.tsx
  client/src/flows/DashboardFlow.tsx
  feature_list.json
  verification/feature-chessboard-modal-closed-2026-02-09.png
  verification/feature-fab-recent-games-2026-02-10.png
  verification/feature-fab-recent-tactics-2026-02-10.png
  verification/integration_feature_recent_cards_fab.js
  verification/puppeteer_feature_recent_cards_fab.js
  verification/regression-chessboard-modal-open-2026-02-10.png
  verification/regression-fab-database-modal-2026-02-10.png
  verification/regression-practice-button-2026-02-10.png
Due: eslint, prettier, knip, jscpd, vitest, client-build

[refactor] align recent modals header – consistent chrome
  claude-progress.txt
  client/src/_components/RecentGamesModal.tsx
  client/src/_components/RecentTacticsModal.tsx
  client/src/flows/DashboardFlow.test.tsx
Due: eslint, prettier, knip, jscpd, vitest, client-build

[dev] Remove unused recent cards
  claude-progress.txt
  client/src/_components/RecentGamesCard.tsx
  client/src/_components/RecentTacticsCard.tsx
Due: eslint, prettier, knip, jscpd, vitest, client-build

[dev]Add Go to Game button for recent games - verified end-to-end
  claude-progress.txt
  client/src/flows/DashboardFlow.test.tsx
  client/src/flows/DashboardFlow.tsx
  feature_list.json
  verification/feature-chessboard-modal-closed-2026-02-09.png
  verification/feature-chessboard-modal-open-2026-02-09.png
  verification/feature-dashboard-cards-collapsible-move-2026-02-08.png
  verification/feature-fab-database-modal-2026-02-10.png
  verification/feature-fab-filters-closed-desktop-2026-02-10.png
  verification/feature-fab-filters-closed-mobile-2026-02-10.png
  verification/feature-fab-filters-open-desktop-2026-02-10.png
  verification/feature-fab-filters-open-mobile-2026-02-10.png
  verification/feature-fab-recent-games-2026-02-10.png
  verification/feature-fab-recent-tactics-2026-02-10.png
  verification/feature-game-detail-modal-2026-02-08.png
  verification/feature-listudy-assets-2026-02-08.png
  verification/feature-open-lichess-link-2026-02-08.png
  verification/feature-practice-button-2026-02-10.png
  verification/feature-recent-games-go-to-game-2026-02-10.png
  verification/feature-source-filter-header-2026-02-10.png
  verification/feature-source-filter-modal-2026-02-10.png
  verification/helpers/game_detail_modal_helpers.js
  verification/integration_feature_game_detail_modal.js
  verification/listudy_assets_helpers.js
  verification/puppeteer_feature_open_lichess_link.js
  verification/puppeteer_feature_recent_games_go_to_game.js
Due: eslint, prettier, knip, jscpd, vitest, client-build

[refactor] Simplify game result formatting
  claude-progress.txt
  client/src/flows/DashboardFlow.tsx
Due: eslint, prettier, knip, jscpd, vitest, client-build

[dev] Remove practice queue card from dashboard
  claude-progress.txt
  client/src/components.ts
  client/src/flows/DashboardFlow.test.tsx
  client/src/flows/DashboardFlow.tsx
  feature_list.json
  verification/feature-chessboard-modal-closed-2026-02-09.png
  verification/feature-chessboard-modal-closed-2026-02-10.png
  verification/feature-chessboard-modal-open-2026-02-10.png
  verification/feature-fab-database-modal-2026-02-10.png
  verification/feature-practice-button-2026-02-10.png
  verification/feature-remove-practice-queue-card-2026-02-10.png
  verification/integration_feature_remove_practice_queue_card.js
  verification/puppeteer_feature_remove_practice_queue_card.js
Due: eslint, prettier, knip, jscpd, vitest, client-build

[refactor] streamline motif defaults helper
  claude-progress.txt
  client/src/_components/PracticeQueueCard.tsx
  client/src/flows/DashboardFlow.test.tsx
  client/src/flows/DashboardFlow.tsx
Due: eslint, prettier, knip, jscpd, vitest, client-build

[dev]Move practice button into hero header
  claude-progress.txt
  client/src/_components/Hero.tsx
  client/src/flows/DashboardFlow.tsx
  client/src/styles.css
  feature_list.json
  verification/feature-chessboard-modal-closed-2026-02-09.png
  verification/feature-chessboard-modal-open-2026-02-09.png
  verification/feature-fab-database-modal-2026-02-10.png
  verification/feature-practice-button-2026-02-10.png
  verification/integration_feature_practice_button.js
  verification/puppeteer_feature_practice_button.js
Due: eslint, prettier, knip, jscpd, vitest, client-build

[refactor] Extract hero panel header
  claude-progress.txt
  client/src/_components/Hero.tsx
Due: eslint, prettier, knip, jscpd, vitest, client-build

[dev]Remove practice attempt card from dashboard
  claude-progress.txt
  client/src/_components/PracticeAttemptCard.test.tsx
  client/src/_components/PracticeAttemptCard.tsx
  client/src/components.ts
  client/src/flows/DashboardFlow.test.tsx
  client/src/flows/DashboardFlow.tsx
  feature_list.json
  verification/enter_submit_helpers.js
  verification/feature-chessboard-modal-closed-2026-02-09.png
  verification/feature-remove-practice-attempt-card-2026-02-10.png
  verification/integration_feature_mvp_step_by_step.js
  verification/integration_feature_practice_best_move_hidden.js
  verification/integration_feature_practice_orientation.js
  verification/integration_feature_remove_practice_attempt_card.js
  verification/integration_issue_practice_advance_correct.js
  verification/integration_issue_practice_progress.js
  verification/puppeteer_feature_mvp_step_by_step.js
  verification/puppeteer_feature_practice_best_move_hidden.js
  verification/puppeteer_feature_practice_orientation.js
  verification/puppeteer_feature_remove_practice_attempt_card.js
  verification/puppeteer_issue_enter_submit.js
  verification/puppeteer_issue_practice_advance_correct.js
  verification/puppeteer_issue_practice_progress.js
  verification/puppeteer_practice_attempt.js
  verification/regression-chessboard-modal-open-2026-02-10.png
  verification/regression-fab-database-modal-2026-02-10.png
  verification/regression-practice-button-2026-02-10.png
Due: eslint, prettier, knip, jscpd, vitest, client-build

[refactor] Extract hero verification helpers
  claude-progress.txt
  verification/helpers/hero_redesign_helpers.js
  verification/integration_feature_hero_redesign.js
  verification/puppeteer_feature_hero_redesign.js
Due: jscpd

[dev]Enable browser modal FEN editing - verified end-to-end
  claude-progress.txt
  client/src/_components/ChessboardModal.test.tsx
  client/src/_components/ChessboardModal.tsx
  client/src/flows/DashboardFlow.test.tsx
  client/src/flows/DashboardFlow.tsx
  feature_list.json
  verification/feature-browser-modal-edit-position-2026-02-10.png
  verification/feature-chessboard-modal-closed-2026-02-09.png
  verification/feature-chessboard-modal-open-2026-02-09.png
  verification/feature-fab-database-modal-2026-02-10.png
  verification/feature-practice-button-2026-02-10.png
  verification/integration_feature_browser_modal_edit_position.js
  verification/puppeteer_feature_browser_modal_edit_position.js
Due: eslint, prettier, knip, jscpd, vitest, client-build

[refactor] Extract practice button click helper
  claude-progress.txt
  verification/integration_feature_remove_practice_attempt_card.js
Due: jscpd

[dev]Add FAB Browser modal action - verified
  claude-progress.txt
  client/src/flows/DashboardFlow.tsx
  feature_list.json
  verification/feature-chessboard-modal-closed-2026-02-09.png
  verification/feature-chessboard-modal-open-2026-02-09.png
  verification/feature-fab-browser-modal-closed-2026-02-10.png
  verification/feature-fab-browser-modal-open-2026-02-10.png
  verification/feature-fab-database-modal-2026-02-10.png
  verification/feature-practice-button-2026-02-10.png
  verification/integration_feature_fab_browser_modal.js
  verification/puppeteer_feature_fab_browser_modal.js
Due: eslint, prettier, knip, jscpd, vitest, client-build

[refactor] Share button click helper in verification
  claude-progress.txt
  verification/helpers/button_helpers.js
  verification/integration_feature_remove_practice_attempt_card.js
  verification/puppeteer_feature_021_chesscom_pagination.js
  verification/puppeteer_feature_045_chesscom_blitz_backfill.js
  verification/puppeteer_feature_052_chesscom_correspondence_backfill.js
Due: jscpd

[dev]Add practice context animation - verified end-to-end
  claude-progress.txt
  client/src/_components/PracticeModalContent.tsx
  client/src/styles.css
  feature_list.json
  verification/feature-chessboard-modal-closed-2026-02-09.png
  verification/feature-chessboard-modal-open-2026-02-09.png
  verification/feature-fab-database-modal-2026-02-10.png
  verification/feature-practice-button-2026-02-10.png
  verification/feature-practice-context-animation-2026-02-10.png
  verification/integration_feature_practice_context_animation.js
  verification/puppeteer_feature_practice_context_animation.js
Due: eslint, prettier, knip, jscpd, vitest, client-build

[refactor] Extract practice-ready wait helper – single responsibility
  claude-progress.txt
  verification/enter_submit_helpers.js
  verification/integration_feature_remove_practice_attempt_card.js
  verification/puppeteer_feature_remove_practice_attempt_card.js
Due: jscpd

[dev]Fix unclear practice puzzles
  claude-progress.txt
  feature_list.json
  src/tactix/db/duckdb_tactic_repository.py
  tests/test_practice_queue.py
  verification/feature-chessboard-modal-closed-2026-02-09.png
  verification/feature-chessboard-modal-open-2026-02-09.png
  verification/feature-fab-database-modal-2026-02-10.png
  verification/feature-practice-button-2026-02-10.png
  verification/feature-unclear-tactical-puzzle-2026-02-10.png
  verification/integration_feature_unclear_tactical_puzzle.js
  verification/puppeteer_feature_unclear_tactical_puzzle.js
Due: ty-check, mypy, pylint, flake8, pydocstyle, prospector, xenon, pycycle, vulture, jscpd, bandit, dodgy, pytest

[refactor] Share modal close button styling - reduce duplication
  claude-progress.txt
  client/src/_components/ChessboardModal.tsx
  client/src/_components/DatabaseModal.tsx
  client/src/_components/GameDetailModal.tsx
  client/src/_components/ModalCloseButton.tsx
  client/src/_components/RecentGamesModal.tsx
  client/src/_components/RecentTacticsModal.tsx
Due: eslint, prettier, knip, jscpd, vitest, client-build

changes
  client/src/_components/BaseChart.test.tsx
  client/src/_components/BaseChart.tsx
  client/src/_components/BaseTable.test.tsx
  client/src/_components/ErrorCard.test.tsx
  client/src/_components/FiltersCard.test.tsx
  client/src/_components/JobProgressCard.test.tsx
  client/src/_components/MetricsTrends.tsx
  client/src/_components/TimeTroubleCorrelation.tsx
  client/src/components.ts
  feature_list.json
Due: eslint, prettier, knip, jscpd, vitest, client-build

[dev]Fix check guardrails
  client/src/_components/BaseChart.test.tsx
  tests/test_postgres_raw_pgn_wrappers.py
Due: eslint, prettier, knip, jscpd, pytest, vitest, client-build

[dev]Stabilize checks and coverage
  client/src/components.ts
  tests/test_api_stats_motifs.py
  tests/test_config_helpers.py
  tests/test_profile_value_helpers.py
Due: eslint, prettier, knip, jscpd, pytest, vitest, client-build

[dev]Update progress notes
  claude-progress.txt
Due: none

[dev]Add opp hanging piece undefended detection - verified end-to-end
  claude-progress.txt
  feature_list.json
  src/tactix/db/duckdb_tactic_repository.py
  tests/test_opp_hanging_piece_undefended.py
  verification/feature-chessboard-modal-closed-2026-02-09.png
  verification/feature-chessboard-modal-open-2026-02-09.png
  verification/feature-dashboard-cards-collapsible-move-2026-02-08.png
  verification/feature-fab-database-modal-2026-02-10.png
  verification/feature-fab-filters-closed-desktop-2026-02-10.png
  verification/feature-fab-filters-closed-mobile-2026-02-10.png
  verification/feature-fab-filters-open-desktop-2026-02-10.png
  verification/feature-fab-filters-open-mobile-2026-02-10.png
  verification/feature-game-detail-modal-2026-02-08.png
  verification/feature-listudy-assets-2026-02-08.png
  verification/feature-open-lichess-link-2026-02-08.png
  verification/feature-practice-best-move-hidden-after-2026-02-10.png
  verification/feature-practice-best-move-hidden-before-2026-02-10.png
  verification/feature-practice-button-2026-02-10.png
  verification/feature-practice-orientation-2026-02-10.png
  verification/puppeteer_feature_practice_best_move_hidden.js
  verification/puppeteer_feature_practice_orientation.js
Due: ty-check, mypy, pylint, flake8, pydocstyle, prospector, xenon, pycycle, vulture, jscpd, bandit, dodgy, pytest

[refactor] Simplify tactic upsert flow - single responsibility
  claude-progress.txt
  src/tactix/db/duckdb_tactic_repository.py
  tests/test_duckdb_tactic_repository.py
Due: ty-check, mypy, pylint, flake8, pydocstyle, prospector, xenon, pycycle, vulture, jscpd, bandit, dodgy, pytest

[dev]Detect hanging piece exchange capture
  claude-progress.txt
  feature_list.json
  src/tactix/BaseTacticDetector.py
  src/tactix/_compute_severity__tactic.py
  src/tactix/analyze_position.py
  tests/test_opp_hanging_piece_exchange.py
Due: ty-check, mypy, pylint, flake8, pydocstyle, prospector, xenon, pycycle, vulture, jscpd, bandit, dodgy, pytest

[dev]Fix hanging capture regressions and checks
  .coveragerc
  Makefile
  claude-progress.txt
  src/tactix/BaseTacticDetector.py
  src/tactix/db/duckdb_tactic_repository.py
  src/tactix/tactic_metadata.py
  src/tactix/utils/logger.py
  tests/test_api_jobs_helpers.py
  tests/test_coverage_helpers.py
  tests/test_sync_contexts_helpers.py
  tests/test_sync_postgres_analysis_results_pipeline.py
  tests/test_tactic_detectors.py
  tests/test_tactic_metadata_helpers.py
  tests/test_tactic_scope_helpers.py
  tests/test_tactic_severity.py
  tests/test_utils_helpers.py
  verification/feature-chessboard-modal-closed-2026-02-09.png
  verification/feature-chessboard-modal-open-2026-02-09.png
  verification/feature-dashboard-cards-collapsible-move-2026-02-08.png
  verification/feature-fab-database-modal-2026-02-10.png
  verification/feature-fab-filters-closed-desktop-2026-02-10.png
  verification/feature-fab-filters-closed-mobile-2026-02-10.png
  verification/feature-fab-filters-open-desktop-2026-02-10.png
  verification/feature-fab-filters-open-mobile-2026-02-10.png
  verification/feature-game-detail-modal-2026-02-08.png
  verification/feature-listudy-assets-2026-02-08.png
  verification/feature-open-lichess-link-2026-02-08.png
  verification/feature-practice-best-move-hidden-after-2026-02-10.png
  verification/feature-practice-best-move-hidden-before-2026-02-10.png
  verification/feature-practice-button-2026-02-10.png
  verification/feature-practice-orientation-2026-02-10.png
Due: ty-check, mypy, pylint, flake8, pydocstyle, prospector, xenon, pycycle, vulture, jscpd, bandit, dodgy, pytest

sync before next commit
  feature_list.json
  tests/test_api_jobs_helpers.py
  tests/test_config_helpers.py
Due: jscpd, pytest

New enforced coverage thresholds for both client and server
  Makefile
Due: none

Partially complete client tests
  claude-progress.txt
  client/src/_components/BaseCard.test.tsx
  client/src/_components/BaseCard.tsx
  client/src/_components/BaseChart.test.tsx
  client/src/_components/BaseTable.test.tsx
  client/src/_components/BaseTable.tsx
  client/src/_components/ChessboardModal.test.tsx
  client/src/_components/DatabaseModal.test.tsx
  client/src/_components/FiltersCard.test.tsx
  client/src/_components/FloatingActionButton.test.tsx
  client/src/_components/GameDetailModal.test.tsx
  client/src/_components/JobProgressCard.test.tsx
  client/src/_components/MetricsGrid.test.tsx
  client/src/_components/MetricsSummaryGrid.test.tsx
  client/src/_components/ModalShell.test.tsx
  client/src/_components/PostgresAnalysisCard.test.tsx
  client/src/_components/PostgresRawPgnsCard.test.tsx
  client/src/_components/PostgresStatusCard.test.tsx
  client/src/_components/PracticeModalContent.test.tsx
  client/src/_components/PracticeMoveInput.test.tsx
  client/src/_components/TacticsActionButtons.test.tsx
  client/src/_components/TimeTroubleCorrelation.test.tsx
  client/src/_components/testUtils.test.ts
  client/src/api.test.ts
  client/src/client/dashboard.test.ts
  client/src/client/practice.test.ts
  client/src/client/streams.test.ts
  client/src/flows/DashboardFlow.actions.test.tsx
  client/src/flows/DashboardFlow.test.tsx
  client/src/flows/DashboardFlow.tsx
  client/src/utils/buildLichessAnalysisUrl.mock.test.ts
  client/src/utils/buildLichessAnalysisUrl.test.ts
  client/src/utils/buildPracticeMove.test.ts
  client/src/utils/cardOrder.test.ts
  client/src/utils/formatPgnMoveList.loadPgn.test.ts
  client/src/utils/formatPgnMoveList.test.ts
  client/src/utils/getJobStreamUrl.test.ts
  client/src/utils/getMetricsStreamUrl.test.ts
  client/src/utils/listudyAssets.test.tsx
  tests/test_coverage_extensions.py
Due: eslint, prettier, knip, jscpd, pytest, vitest, client-build

Partially complete client tests
  client/src/_components/ChessboardModal.test.tsx
  client/src/_components/GameDetailModal.test.tsx
  client/src/_components/PostgresAnalysisCard.tsx
  client/src/_components/PostgresRawPgnsCard.test.tsx
  client/src/_components/TacticsActionButtons.test.tsx
  client/src/api.test.ts
  client/src/flows/DashboardFlow.actions.test.tsx
  client/src/flows/DashboardFlow.test.tsx
  client/src/flows/DashboardFlow.tsx
  client/src/utils/formatPgnMoveList.loadPgn.test.ts
  client/src/utils/formatPgnMoveList.ts
Due: eslint, prettier, knip, jscpd, vitest, client-build

sync
  client/src/_components/GameDetailModal.test.tsx
  client/src/_components/TacticsActionButtons.test.tsx
  client/src/client/index.test.ts
  client/src/client/postgres.test.ts
  client/src/flows/DashboardFlow.actions.test.tsx
  client/src/flows/DashboardFlow.test.tsx
  client/src/flows/DashboardFlow.tsx
Due: eslint, prettier, knip, jscpd, vitest, client-build
