Repository aaweaver-actuary/tactix: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, xenon, vulture, eslint, prettier, knip, jscpd

ty-check:
  name: ty check
  entry: uv run ty check --error deprecated src/
  language: system
  pass_filenames: false

xenon:
  name: xenon complexity check
  entry: uv run xenon --max-absolute A --max-modules A --max-average A src/
  language: system
  pass_filenames: false

vulture:
  name: vulture dead code check
  ...

eslint:
  name: eslint
  entry: bash -c 'cd client && npx eslint --fix . --ext .js,.jsx,.ts,.tsx'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd client && npx prettier --write --cache .'
  language: system
  pass_filenames: false

knip:
  name: knip dead code check
  entry: bash -c 'cd client && npx knip'
  language: system
  pass_filenames: false

jscpd:
  name: jscpd duplicate detection
  ...

[dev] Normalize game result parsing to win/loss/draw/unknown
  app-progress.txt
  feature_list.json
  src/tactix/_get_game_result_for_user_from_pgn_headers.py
  src/tactix/build_games_table_row__pipeline.py
  src/tactix/chess_game_result.py
  src/tactix/chess_player_color.py
  src/tactix/pgn_headers.py
  tests/test_game_result_normalization.py
  verification/feature-game-detail-modal-2026-02-08.png
  verification/issue-practice-progress-2026-02-08.png
  verification/ui-enter-submit-2026-02-08.png
Due: ty-check, xenon, vulture, jscpd

[refactor] isolate PGN user fields in row building
  app-progress.txt
  src/tactix/build_games_table_row__pipeline.py
  src/tactix/resolve_user_fields__pgn_headers.py
  tests/test_game_result_normalization.py
Due: ty-check, xenon, vulture, jscpd

[dev] Verify PGN storage for games table
  app-progress.txt
  feature_list.json
  tests/test_api_chesscom_bullet_pipeline_canonical.py
  tests/test_games_table_pgn_storage.py
  verification/dashboard-motif-filters.png
  verification/dashboard-practice-attempt-grading.png
  verification/feature-107-fen-positions-2026-01-27.png
  verification/feature-110-dashboard-lichess-2026-02-08.png
  verification/feature-dashboard-cards-collapsible-move-2026-02-08.png
  verification/feature-game-detail-modal-2026-02-08.png
  verification/feature-listudy-assets-2026-02-08.png
  verification/feature-open-lichess-link-2026-02-08.png
  verification/issue-practice-progress-2026-02-08.png
  verification/ui-enter-submit-2026-02-08.png
Due: jscpd

[refactor] isolate games table row field assembly
  app-progress.txt
  src/tactix/build_games_table_row__pipeline.py
Due: ty-check, xenon, vulture, jscpd

sync codex work
  client/src/_components/MetricCard.tsx
  client/src/_components/MetricsSummaryCard.tsx
  client/src/_components/MetricsSummaryGrid.tsx
  client/src/api.ts
  client/src/flows/DashboardFlow.test.tsx
  client/src/flows/DashboardFlow.tsx
  src/tactix/TacticDetails.py
  src/tactix/TacticRow.py
  src/tactix/analyze_position.py
  src/tactix/db/_migration_add_pipeline_views.py
  src/tactix/db/_migration_add_tactic_metadata.py
  src/tactix/db/_migration_base_tables.py
  src/tactix/db/duckdb_dashboard_reader.py
  src/tactix/db/duckdb_store.py
  src/tactix/db/duckdb_tactic_repository.py
  src/tactix/db/postgres_analysis_repository.py
  src/tactix/define_base_db_store__db_store.py
  src/tactix/define_tactic_insert_plan__db_store.py
  src/tactix/init_analysis_schema.py
  src/tactix/sql_tactics.py
  src/tactix/sync_postgres_analysis_results__pipeline.py
  src/tactix/tactic_metadata.py
  tests/fixtures/chesscom_bullet_mate_in_one_outcome_matrix.pgn
  tests/test_dashboard_source_sync_metrics.py
  tests/test_mate_in_one_outcome_matrix.py
  tests/test_schema_migration.py
  tests/test_tactic_metadata_tracking.py
  verification/failed-ui-enter-submit-2026-02-08.png
Due: ty-check, xenon, vulture, eslint, prettier, knip, jscpd

[EU] Sync before working
  app-progress.txt
  client/src/flows/DashboardFlow.test.tsx
  src/tactix/TacticDetails.py
  src/tactix/tactic_metadata.py
Due: ty-check, xenon, vulture, eslint, prettier, knip, jscpd

[refactor] Simplify tactic metadata helpers
  client/src/api.ts
  src/tactix/db/duckdb_dashboard_reader.py
  src/tactix/tactic_metadata.py
Due: ty-check, xenon, vulture, eslint, prettier, knip, jscpd

[dev] Update progress notes
  app-progress.txt
Due: none

[refactor] verify UI regression coverage
  app-progress.txt
Due: none

[dev] Refresh UI regression verification
  app-progress.txt
  verification/dashboard-motif-filters.png
  verification/dashboard-practice-attempt-grading.png
  verification/enter_submit_helpers.js
  verification/failed-ui-enter-submit-2026-02-08.png
  verification/feature-107-fen-positions-2026-01-27.png
  verification/feature-110-dashboard-lichess-2026-02-09.png
  verification/feature-dashboard-cards-collapsible-move-2026-02-08.png
  verification/feature-game-detail-modal-2026-02-08.png
  verification/feature-listudy-assets-2026-02-08.png
  verification/feature-open-lichess-link-2026-02-08.png
  verification/issue-practice-progress-2026-02-08.png
  verification/ui-enter-submit-2026-02-08.png
Due: jscpd

[dev] Verify user-move position extraction
  app-progress.txt
  client/src/_components/BaseTable.tsx
  feature_list.json
  tests/fixtures/user_move_positions_fixture.pgn
  tests/test_extract_user_move_positions.py
  verification/feature-game-detail-modal-2026-02-08-regression.png
  verification/issue-practice-progress-2026-02-08-regression.png
  verification/ui-enter-submit-2026-02-08-regression.png
Due: eslint, prettier, knip, jscpd

[refactor] consolidate BaseTable click handling
  app-progress.txt
  client/src/_components/BaseTable.tsx
Due: eslint, prettier, knip, jscpd

[dev]Record user moves with timestamps
  app-progress.txt
  feature_list.json
  src/tactix/db/_migration_add_pipeline_views.py
  src/tactix/db/_migration_add_user_moves_view.py
  src/tactix/db/duckdb_store.py
  tests/fixtures/user_move_positions_fixture.pgn
  tests/test_user_moves_view.py
  verification/feature-107-positions-2026-02-08-regression.png
  verification/feature-110-dashboard-2026-02-08-regression.png
  verification/feature-dashboard-cards-collapsible-move-2026-02-08-regression.png
  verification/feature-game-detail-modal-2026-02-08-regression.png
  verification/feature-listudy-assets-2026-02-08-regression.png
  verification/feature-open-lichess-link-2026-02-08-regression.png
  verification/helpers/game_detail_modal_helpers.js
  verification/issue-enter-submit-2026-02-08-regression.png
  verification/issue-practice-progress-2026-02-08-regression.png
  verification/motif-filters-2026-02-08-regression.png
  verification/practice-attempt-2026-02-08-regression.png
  verification/puppeteer_feature_open_lichess_link.js
Due: ty-check, xenon, vulture, jscpd

[refactor] streamline user moves helpers
  app-progress.txt
  src/tactix/db/_migration_add_pipeline_views.py
  tests/test_user_moves_view.py
  verification/helpers/game_detail_modal_helpers.js
Due: ty-check, xenon, vulture, jscpd

[refactor] Consolidate user-moves migration helpers
  app-progress.txt
  src/tactix/db/_migration_add_user_moves_view.py
  src/tactix/db/duckdb_store.py
  tests/test_schema_migration.py
  verification/puppeteer_feature_open_lichess_link.js
Due: ty-check, xenon, vulture, jscpd

[dev]Implement stable position_id hashing
  app-progress.txt
  feature_list.json
  src/tactix/build_position_id__positions.py
  src/tactix/db/duckdb_position_repository.py
  tests/test_position_id_hash.py
  verification/enter_submit_helpers.js
  verification/feature-game-detail-modal-2026-02-09-regression.png
  verification/helpers/game_detail_modal_helpers.js
  verification/issue-enter-submit-2026-02-09-regression.png
  verification/issue-practice-progress-2026-02-09-regression.png
  verification/puppeteer_feature_game_detail_modal.js
Due: ty-check, xenon, vulture, jscpd

[refactor] simplify position inserts and verification helpers
  app-progress.txt
  src/tactix/db/duckdb_position_repository.py
  tests/test_pipeline_helpers.py
  tests/test_position_id_hash.py
  verification/enter_submit_helpers.js
  verification/puppeteer_feature_game_detail_modal.js
Due: ty-check, xenon, vulture, jscpd

[EU] Sync before working
  tests/test_extract_user_move_positions.py
Due: jscpd

[dev] Allow duplicate position_id rows in DuckDB
  app-progress.txt
  src/tactix/db/_migration_base_tables.py
  src/tactix/db/duckdb_metrics_repository.py
  src/tactix/db/duckdb_store.py
  tests/test_mate_in_one_outcome_matrix.py
Due: ty-check, xenon, vulture, jscpd

[dev]Fix UI regressions and verify position ply linkage
  app-progress.txt
  client/src/_components/BaseTable.tsx
  client/src/flows/DashboardFlow.tsx
  feature_list.json
  tests/test_extract_user_move_positions.py
  verification/feature-game-detail-modal-2026-02-09-regression.png
  verification/issue-enter-submit-2026-02-09-regression.png
  verification/issue-practice-progress-2026-02-09-regression.png
  verification/puppeteer_feature_game_detail_modal.js
  verification/puppeteer_issue_practice_progress.js
Due: eslint, prettier, knip, jscpd

[refactor] streamline dashboard helpers and verification selectors
  app-progress.txt
  client/src/_components/BaseTable.tsx
  client/src/flows/DashboardFlow.tsx
  tests/test_extract_user_move_positions.py
  verification/puppeteer_feature_game_detail_modal.js
  verification/puppeteer_issue_practice_progress.js
Due: eslint, prettier, knip, jscpd

[chore] Add new issues and fix BaseTable setter lint
  client/src/_components/BaseTable.tsx
  feature_list.json
  tests/test_extract_user_move_positions.py
  tests/test_mate_in_one_outcome_matrix.py
Due: eslint, prettier, knip, jscpd

[chore] Update progress notes
  app-progress.txt
Due: none

[dev]Remake settings card as modal
  app-progress.txt
  client/src/_components/FiltersCard.tsx
  client/src/flows/DashboardFlow.test.tsx
  client/src/flows/DashboardFlow.tsx
  feature_list.json
  verification/dashboard-motif-filters.png
  verification/dashboard-practice-attempt-grading.png
  verification/enter_submit_helpers.js
  verification/failed-issue-practice-progress-2026-02-08.png
  verification/feature-107-fen-positions-2026-01-27.png
  verification/feature-110-dashboard-lichess-2026-02-09.png
  verification/feature-dashboard-cards-collapsible-move-2026-02-08.png
  verification/feature-game-detail-modal-2026-02-08.png
  verification/feature-listudy-assets-2026-02-08.png
  verification/feature-open-lichess-link-2026-02-08.png
  verification/feature-settings-modal-closed-2026-02-09.png
  verification/feature-settings-modal-open-2026-02-09.png
  verification/helpers/client_e2e_helpers.js
  verification/helpers/game_detail_modal_helpers.js
  verification/helpers/run_dashboard_regression.js
  verification/integration_feature_settings_modal.js
  verification/issue-practice-progress-2026-02-08.png
  verification/puppeteer_feature_settings_modal.js
  verification/ui-enter-submit-2026-02-08.png
Due: eslint, prettier, knip, jscpd

[refactor] streamline filters modal helpers
  .gitignore
  app-progress.txt
  client/src/_components/FiltersCard.tsx
  client/src/flows/DashboardFlow.test.tsx
  client/src/flows/DashboardFlow.tsx
  verification/enter_submit_helpers.js
  verification/helpers/client_e2e_helpers.js
  verification/helpers/filters_modal_helpers.js
  verification/integration_feature_settings_modal.js
  verification/puppeteer_feature_settings_modal.js
Due: eslint, prettier, knip, jscpd

[dev]Implement ChessboardModal - verified end-to-end
  app-progress.txt
  client/src/_components/Chessboard.tsx
  client/src/_components/ChessboardModal.tsx
  client/src/_components/PositionsList.tsx
  client/src/_components/PracticeAttemptCard.tsx
  client/src/components.ts
  client/src/flows/DashboardFlow.test.tsx
  client/src/flows/DashboardFlow.tsx
  feature_list.json
  verification/dashboard-motif-filters.png
  verification/dashboard-practice-attempt-grading.png
  verification/feature-107-fen-positions-2026-01-27.png
  verification/feature-110-dashboard-lichess-2026-02-09.png
  verification/feature-chessboard-modal-closed-2026-02-09.png
  verification/feature-chessboard-modal-open-2026-02-09.png
  verification/feature-dashboard-cards-collapsible-move-2026-02-08.png
  verification/feature-game-detail-modal-2026-02-08.png
  verification/feature-listudy-assets-2026-02-08.png
  verification/feature-open-lichess-link-2026-02-08.png
  verification/integration_feature_chessboard_modal.js
  verification/issue-practice-progress-2026-02-08.png
  verification/puppeteer_feature_107_positions.js
  verification/puppeteer_feature_110_dashboard.js
  verification/puppeteer_feature_chessboard_modal.js
  verification/puppeteer_feature_open_lichess_link.js
  verification/puppeteer_motif_filters.js
  verification/ui-enter-submit-2026-02-08.png
Due: eslint, prettier, knip, jscpd

[refactor] streamline chessboard modal helpers
  app-progress.txt
  client/src/_components/ChessboardModal.tsx
  client/src/_components/PositionsList.tsx
  client/src/flows/DashboardFlow.tsx
  verification/integration_feature_chessboard_modal.js
  verification/puppeteer_feature_chessboard_modal.js
Due: eslint, prettier, knip, jscpd

[fix] Stabilize chessboard modal test
  app-progress.txt
  client/src/flows/DashboardFlow.test.tsx
Due: eslint, prettier, knip, jscpd

[dev] Enforce BaseButton-only raw button usage
  app-progress.txt
  claude-progress.txt
  client/src/_components/BaseButton.tsx
  client/src/_components/BaseCard.test.tsx
  client/src/_components/BaseCard.tsx
  client/src/_components/BaseTable.tsx
  client/src/_components/ChessboardModal.tsx
  client/src/_components/FiltersCard.tsx
  client/src/_components/GameDetailModal.tsx
  client/src/_components/Hero.tsx
  client/src/_components/PositionsList.tsx
  client/src/_components/PracticeAttemptButton.tsx
  client/src/components.ts
  client/src/flows/DashboardFlow.tsx
  feature_list.json
  tests/test_no_raw_button_tags.py
  verification/dashboard-motif-filters.png
  verification/dashboard-practice-attempt-grading.png
  verification/failed-issue-practice-progress-2026-02-08.png
  verification/feature-107-fen-positions-2026-01-27.png
  verification/feature-110-dashboard-lichess-2026-02-09.png
  verification/feature-dashboard-cards-collapsible-move-2026-02-08.png
  verification/feature-game-detail-modal-2026-02-08.png
  verification/feature-listudy-assets-2026-02-08.png
  verification/feature-open-lichess-link-2026-02-08.png
  verification/helpers/filters_modal_helpers.js
  verification/issue-practice-progress-2026-02-08.png
  verification/ui-enter-submit-2026-02-08.png
Due: eslint, prettier, knip, jscpd

[refactor] add shared modal shell
  app-progress.txt
  client/src/_components/ChessboardModal.tsx
  client/src/_components/FiltersCard.tsx
  client/src/_components/GameDetailModal.tsx
  client/src/_components/ModalShell.tsx
Due: eslint, prettier, knip, jscpd

[fix] Route flow buttons through ActionButton
  app-progress.txt
  client/src/_components/ActionButton.tsx
  client/src/components.ts
  client/src/flows/DashboardFlow.tsx
Due: eslint, prettier, knip, jscpd

[dev]Implement modal Escape close - verified end-to-end
  app-progress.txt
  claude-progress.txt
  client/src/_components/ModalShell.tsx
  client/src/flows/DashboardFlow.test.tsx
  feature_list.json
  verification/dashboard-motif-filters.png
  verification/dashboard-practice-attempt-grading.png
  verification/feature-107-fen-positions-2026-01-27.png
  verification/feature-110-dashboard-lichess-2026-02-09.png
  verification/feature-dashboard-cards-collapsible-move-2026-02-08.png
  verification/feature-game-detail-modal-2026-02-08.png
  verification/feature-listudy-assets-2026-02-08.png
  verification/feature-modal-escape-closed-2026-02-09.png
  verification/feature-modal-escape-open-2026-02-09.png
  verification/feature-open-lichess-link-2026-02-08.png
  verification/integration_feature_modal_escape.js
  verification/issue-practice-progress-2026-02-08.png
  verification/puppeteer_feature_modal_escape.js
  verification/ui-enter-submit-2026-02-08.png
Due: eslint, prettier, knip, jscpd

[refactor] Share modal Escape close helper
  app-progress.txt
  verification/helpers/filters_modal_helpers.js
  verification/integration_feature_modal_escape.js
  verification/puppeteer_feature_modal_escape.js
Due: jscpd

[dev] add post-move positions for hanging piece detection
  app-progress.txt
  feature_list.json
  src/tactix/build_post_move_positions__positions.py
  src/tactix/db/duckdb_position_repository.py
  src/tactix/db/fetch_unanalyzed_positions.py
  src/tactix/extract_positions_for_rows__pipeline.py
  src/tactix/extract_positions_from_games__pipeline.py
  src/tactix/load_resume_positions__pipeline.py
  tests/test_extract_user_move_positions.py
  verification/feature-107-fen-positions-2026-01-27.png
Due: ty-check, xenon, vulture, jscpd

[refactor] unify post-move append flow
  app-progress.txt
  src/tactix/build_post_move_positions__positions.py
  src/tactix/extract_positions_for_rows__pipeline.py
  src/tactix/extract_positions_from_games__pipeline.py
Due: ty-check, xenon, vulture, jscpd

update to test
  tests/test_no_raw_button_tags.py
Due: jscpd

[dev]Add hanging target metadata fields and pipeline views
  .pre-commit-config.yaml
  app-progress.txt
  claude-progress.txt
  feature_list.json
  src/tactix/TacticDetails.py
  src/tactix/TacticRow.py
  src/tactix/_find_hanging_capture_target.py
  src/tactix/analyze_position.py
  src/tactix/db/_migration_add_pipeline_views.py
  src/tactix/db/_migration_add_tactic_metadata.py
  src/tactix/db/_migration_add_tactic_targets.py
  src/tactix/db/duckdb_dashboard_repository.py
  src/tactix/db/duckdb_store.py
  src/tactix/db/duckdb_tactic_repository.py
  src/tactix/db/postgres_analysis_repository.py
  src/tactix/define_base_db_store__db_store.py
  src/tactix/define_tactic_insert_plan__db_store.py
  src/tactix/init_analysis_schema.py
  src/tactix/sql_tactics.py
  tests/test_mate_in_one_outcome_matrix.py
Due: ty-check, xenon, vulture, jscpd

[refactor]Extract post-move helpers and pipeline column checks
  src/tactix/TacticRow.py
  src/tactix/build_post_move_positions__positions.py
  src/tactix/db/_migration_add_pipeline_views.py
  src/tactix/db/_migration_add_tactic_metadata.py
  src/tactix/db/duckdb_store.py
  src/tactix/load_resume_positions__pipeline.py
  src/tactix/sql_tactics.py
Due: ty-check, xenon, vulture, jscpd

[dev] Scope motifs to hanging piece and mate in 1
  claude-progress.txt
  feature_list.json
  src/tactix/app/use_cases/tactics_search.py
  src/tactix/db/_migration_add_pipeline_views.py
  src/tactix/db/duckdb_dashboard_repository.py
  src/tactix/db/duckdb_metrics_repository.py
  src/tactix/db/duckdb_tactic_repository.py
  src/tactix/db/postgres_analysis_repository.py
  src/tactix/define_mock_store__db.py
  src/tactix/tactic_scope.py
  tests/test_dashboard_filters.py
  tests/test_mate_in_one_bullet.py
  tests/test_mate_in_one_classical.py
  tests/test_pipeline_state.py
  tests/test_tactic_scope.py
  tests/test_tactics_analyzer.py
  verification/feature-scope-motifs-2026-02-09.png
  verification/integration_feature_scope_motifs.js
Due: ty-check, xenon, vulture, jscpd

Path conditions:
  ty-check: any of: ^src/.*\.py$
  xenon: any of: ^src/.*\.py$
  vulture: any of: ^src/.*\.py$
  eslint: any of: ^client/.*\.(js|jsx|ts|tsx)$
  prettier: any of: ^client/.*\.(js|jsx|ts|tsx|json|css)$
  knip: any of: ^client/
  jscpd: any of: \.(py|js|jsx|ts|tsx)$
