Repository aaweaver-actuary/tactix: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, xenon, vulture, eslint, prettier, knip, jscpd

Path conditions:
  ty-check: any of: ^src/.*\.py$
  xenon: any of: ^src/.*\.py$
  vulture: any of: ^src/.*\.py$
  eslint: any of: ^client/.*\.(js|jsx|ts|tsx)$
  prettier: any of: ^client/.*\.(js|jsx|ts|tsx|json|css)$
  knip: any of: ^client/
  jscpd: any of: \.(py|js|jsx|ts|tsx)$

[dev] mark housekeeping merge passing
  feature_list.json
Due: none

[dev] verify canonical chesscom bullet e2e scenario
  app-progress.txt
  client/src/_components/PracticeAttemptCard.test.tsx
  client/src/utils/listudyAssets.ts
  feature_list.json
  tmp-logs/feature_chesscom_bullet_canonical_integration_2026_02_07.duckdb
  tmp-logs/feature_chesscom_bullet_canonical_integration_2026_02_07.json
  verification/dashboard-motif-filters.png
  verification/dashboard-practice-attempt-grading.png
  verification/enter_submit_helpers.js
  verification/feature-dashboard-cards-collapsible-move-2026-02-08.png
  verification/feature-game-detail-modal-2026-02-08.png
  verification/feature-listudy-assets-2026-02-08.png
  verification/feature-open-lichess-link-2026-02-08.png
  verification/integration_feature_chesscom_bullet_canonical_2026_02_01.js
  verification/issue-6-chesscom-bullet-canonical-2026-02-01.png
  verification/issue-practice-progress-2026-02-08.png
  verification/puppeteer_feature_open_lichess_link.js
  verification/puppeteer_issue_6_canonical_scenario.js
  verification/puppeteer_issue_enter_submit.js
  verification/puppeteer_issue_practice_progress.js
  verification/puppeteer_practice_attempt.js
  verification/ui-enter-submit-2026-02-08.png
Due: eslint, prettier, knip, jscpd

[refactor] share canonical backend helpers
  verification/helpers/backend_canonical_helpers.js
  verification/integration_feature_chesscom_bullet_canonical_2026_02_01.js
  verification/puppeteer_issue_6_canonical_scenario.js
Due: jscpd

[dev] log canonical helper refactor
  app-progress.txt
Due: none

[dev] Verify Postgres canonical chess.com bullet DB checks
  app-progress.txt
  feature_list.json
  tests/test_postgres_chesscom_bullet_2026_02_01.py
Due: jscpd

[refactor] reuse bullet fixture filters
  tests/test_postgres_chesscom_bullet_2026_02_01.py
Due: jscpd

[dev] log postgres test refactor
  app-progress.txt
Due: none

[dev] verify chesscom bullet API canonical scenario
  app-progress.txt
  feature_list.json
  tests/test_api_chesscom_bullet_dashboard_practice_2026_02_01.py
Due: jscpd

[refactor] streamline game header fetching in api tests
  tests/test_api_chesscom_bullet_dashboard_practice_2026_02_01.py
Due: jscpd

[dev] log api verification refactor
  app-progress.txt
Due: none

[dev] add mocked client canonical verification test
  app-progress.txt
  client/src/flows/DashboardFlow.test.tsx
  feature_list.json
Due: eslint, prettier, knip, jscpd

[refactor] reduce dashboard filter change duplication
  client/src/flows/DashboardFlow.test.tsx
Due: eslint, prettier, knip, jscpd

[dev] log client mock refactor
  app-progress.txt
Due: none

[dev] Add client E2E Puppeteer verification
  app-progress.txt
  client/src/client/practice.ts
  feature_list.json
  verification/feature-client-e2e-chesscom-bullet-2026-02-01.png
  verification/integration_feature_client_e2e_chesscom_bullet_2026_02_01.js
  verification/puppeteer_feature_client_e2e_chesscom_bullet_2026_02_01.js
Due: eslint, prettier, knip, jscpd

[dev] log client e2e verification
  app-progress.txt
Due: none

[refactor] centralize client E2E helpers
  client/src/client/practice.ts
  verification/helpers/client_e2e_helpers.js
  verification/integration_feature_client_e2e_chesscom_bullet_2026_02_01.js
  verification/puppeteer_feature_client_e2e_chesscom_bullet_2026_02_01.js
Due: eslint, prettier, knip, jscpd

[dev] log client e2e refactor
  app-progress.txt
Due: none

[dev] Verify chess.com cursor incremental sync
  app-progress.txt
  feature_list.json
  src/tactix/fetch_chesscom_games__pipeline.py
  src/tactix/request_chesscom_games__pipeline.py
  tests/test_api_chesscom_bullet_pipeline_regression.py
Due: ty-check, xenon, vulture, jscpd

[refactor] clarify chesscom cursor handling
  src/tactix/fetch_chesscom_games__pipeline.py
  src/tactix/request_chesscom_games__pipeline.py
  tests/test_api_chesscom_bullet_pipeline_regression.py
Due: ty-check, xenon, vulture, jscpd

[dev] log chesscom cursor refactor
  app-progress.txt
Due: none

[dev] add Lichess cursor incremental sync
  app-progress.txt
  feature_list.json
  src/tactix/app/use_cases/pipeline_support.py
  src/tactix/fetch_lichess_games__pipeline.py
  src/tactix/infra/checkpoint_writer.py
  src/tactix/infra/clients/lichess_client.py
  src/tactix/ports/checkpoint_writer.py
  tests/test_api_lichess_cursor_incremental.py
  tests/test_lichess_client.py
  tests/test_pipeline_state.py
  tests/test_pipeline_support.py
Due: ty-check, xenon, vulture, jscpd

[dev] log lichess cursor status
  app-progress.txt
Due: none

[refactor] clarify lichess cursor handling
  src/tactix/fetch_lichess_games__pipeline.py
  src/tactix/infra/clients/lichess_client.py
  tests/test_api_lichess_cursor_incremental.py
Due: ty-check, xenon, vulture, jscpd

[dev] fix lichess cursor checkpoint updates
  src/tactix/app/use_cases/pipeline_support.py
  src/tactix/fetch_lichess_games__pipeline.py
Due: ty-check, xenon, vulture, jscpd

[dev] log lichess cursor fix
  app-progress.txt
Due: none

[dev] log lichess cursor refactor
  app-progress.txt
Due: none

[dev] Store canonical game metadata in games table
  app-progress.txt
  feature_list.json
  src/tactix/app/use_cases/pipeline_support.py
  src/tactix/build_games_table_row__pipeline.py
  src/tactix/db/_migration_add_games_table.py
  src/tactix/db/duckdb_game_repository.py
  src/tactix/db/duckdb_store.py
  src/tactix/db/game_repository_provider.py
  src/tactix/persist_raw_pgns__pipeline.py
  tests/test_api_chesscom_bullet_pipeline_canonical.py
  tests/test_schema_migration.py
Due: ty-check, xenon, vulture, jscpd

[EU] Cleaning with refactors
  src/tactix/app/use_cases/pipeline_support.py
  src/tactix/fetch_lichess_games__pipeline.py
  src/tactix/infra/clients/lichess_client.py
Due: ty-check, xenon, vulture, jscpd

[dev] Fix dashboard hooks and quality gates
  client/src/_components/PracticeAttemptButton.test.tsx
  client/src/flows/DashboardFlow.tsx
  src/tactix/app/use_cases/pipeline_support.py
  src/tactix/infra/clients/lichess_client.py
  tests/test_api_chesscom_bullet_dashboard_practice_2026_02_01.py
  tests/test_api_chesscom_bullet_pipeline_regression.py
  tests/test_api_lichess_cursor_incremental.py
  tests/test_pipeline_state.py
Due: ty-check, xenon, vulture, eslint, prettier, knip, jscpd

[dev] Update progress notes
  app-progress.txt
Due: none

[dev] Normalize games time control buckets
  app-progress.txt
  client/src/flows/DashboardFlow.tsx
  feature_list.json
  src/tactix/build_games_table_row__pipeline.py
  src/tactix/chess_time_control.py
  tests/test_api_chesscom_bullet_pipeline_canonical.py
  tests/test_time_control_normalization.py
  verification/dashboard-motif-filters.png
  verification/dashboard-practice-attempt-grading.png
  verification/feature-107-fen-positions-2026-01-27.png
  verification/feature-110-dashboard-lichess-2026-02-08.png
  verification/feature-dashboard-cards-collapsible-move-2026-02-08.png
  verification/feature-game-detail-modal-2026-02-08.png
  verification/feature-listudy-assets-2026-02-08.png
  verification/feature-open-lichess-link-2026-02-08.png
  verification/integration_feature_chesscom_bullet_canonical_2026_02_01.js
  verification/issue-practice-progress-2026-02-08.png
  verification/ui-enter-submit-2026-02-08.png
Due: ty-check, xenon, vulture, eslint, prettier, knip, jscpd

[refactor] modularize time control parsing – single-responsibility helpers
  app-progress.txt
  src/tactix/chess_time_control.py
Due: ty-check, xenon, vulture, jscpd

[refactor] clarify practice feedback delay - single-responsibility helper
  app-progress.txt
  client/src/flows/DashboardFlow.tsx
Due: eslint, prettier, knip, jscpd

[dev] Align canonical time control expectation
  tests/test_api_chesscom_bullet_pipeline_canonical.py
Due: jscpd

[dev] Note canonical time control expectation fix
  app-progress.txt
Due: none

[refactor] Simplify time control parsing
  app-progress.txt
  src/tactix/chess_time_control.py
  tests/test_api_chesscom_bullet_pipeline_canonical.py
Due: ty-check, xenon, vulture, jscpd

[dev]Normalize PGN user color inference
  app-progress.txt
  src/tactix/_get_user_color_from_pgn_headers.py
  src/tactix/_normalize_player_name.py
  src/tactix/_resolve_user_rating.py
  tests/test_user_color_inference.py
Due: ty-check, xenon, vulture, jscpd

[refactor] Simplify user color inference helpers
  app-progress.txt
  src/tactix/_get_user_color_from_pgn_headers.py
  src/tactix/chess_player_color.py
  tests/test_user_color_inference.py
Due: ty-check, xenon, vulture, jscpd

[EU] Sync before working
  Makefile
Due: none

[dev]Verify user color inference and UI regressions
  app-progress.txt
  client/src/flows/DashboardFlow.test.tsx
  feature_list.json
  verification/feature-game-detail-modal-2026-02-08.png
  verification/issue-practice-progress-2026-02-08.png
  verification/puppeteer_feature_game_detail_modal.js
  verification/ui-enter-submit-2026-02-08.png
Due: eslint, prettier, knip, jscpd
