Repository aaweaver-actuary/tactix: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, xenon, vulture, eslint, prettier, knip, jscpd

ty-check:
  name: ty check
  entry: uv run ty check --error deprecated src/
  language: system
  pass_filenames: false

xenon:
  name: xenon complexity check
  entry: uv run xenon --max-absolute A --max-modules A --max-average A src/
  language: system
  pass_filenames: false

vulture:
  name: vulture dead code check
  ...

eslint:
  name: eslint
  entry: bash -c 'cd client && npx eslint --fix . --ext .js,.jsx,.ts,.tsx'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd client && npx prettier --write --cache .'
  language: system
  pass_filenames: false

knip:
  name: knip dead code check
  entry: bash -c 'cd client && npx knip'
  language: system
  pass_filenames: false

jscpd:
  name: jscpd duplicate detection
  ...

[dev] Mark PGN fixture parsing test as passing
  app-progress.txt
  feature_list.json
Due: none

[dev] Add UnitOfWork abstraction and wiring
  app-progress.txt
  feature_list.json
  src/tactix/app/use_cases/dashboard.py
  src/tactix/app/use_cases/pipeline_run.py
  src/tactix/app/use_cases/postgres.py
  src/tactix/app/use_cases/practice.py
  src/tactix/app/use_cases/tactics_search.py
  src/tactix/db/duckdb_unit_of_work.py
  src/tactix/db/postgres_analysis_repository.py
  src/tactix/db/postgres_ops_repository.py
  src/tactix/db/postgres_raw_pgn_repository.py
  src/tactix/db/postgres_repository.py
  src/tactix/db/postgres_unit_of_work.py
  src/tactix/ports/__init__.py
  src/tactix/ports/unit_of_work.py
  tests/test_unit_of_work.py
  tests/test_use_cases_api_layer.py
Due: ty-check, xenon, vulture, jscpd

[refactor] consolidate context builders - object migration
  app-progress.txt
  feature_list.json
  src/tactix/_is_skewer_in_step.py
  src/tactix/_normalize_side_filter.py
  src/tactix/_position_context_helpers.py
  src/tactix/_position_from_node.py
  src/tactix/_resolve_game_context.py
  src/tactix/detect_tactics__motifs.py
  src/tactix/line_tactic_context_builder.py
  src/tactix/line_tactic_helpers.py
  src/tactix/position_context_builder.py
  tests/test_line_tactic_context_builder.py
  tests/test_position_context_builder.py
Due: ty-check, xenon, vulture, jscpd

[refactor] log refactor progress
  app-progress.txt
Due: none

[dev] Stabilize make check and tests
  Makefile
  app-progress.txt
  client/src/_components/Text.test.tsx
  src/tactix/app/use_cases/dashboard.py
  src/tactix/app/use_cases/practice.py
  src/tactix/db/postgres_repository.py
  src/tactix/ports/unit_of_work.py
  tests/test_normalize_side_filter.py
  tests/test_unit_of_work.py
Due: ty-check, xenon, vulture, eslint, prettier, knip, jscpd

[dev]Replace use-case callable injection with services
  app-progress.txt
  src/tactix/app/use_cases/dashboard.py
  src/tactix/app/use_cases/dependencies.py
  src/tactix/app/use_cases/pipeline_run.py
  src/tactix/app/use_cases/postgres.py
  src/tactix/app/use_cases/practice.py
  src/tactix/app/use_cases/tactics_search.py
  tests/test_use_cases_api_layer.py
Due: ty-check, xenon, vulture, jscpd

[dev] Mark callable-injection refactor passing
  app-progress.txt
  feature_list.json
Due: none

[refactor] centralize dashboard stats fetch - reduce duplication
  app-progress.txt
  src/tactix/app/use_cases/dependencies.py
Due: ty-check, xenon, vulture, jscpd

[dev]Add domain layer for tactics, conversion, and practice
  app-progress.txt
  src/tactix/app/use_cases/dashboard.py
  src/tactix/app/use_cases/dependencies.py
  src/tactix/app/use_cases/pipeline_run.py
  src/tactix/app/use_cases/postgres.py
  src/tactix/app/use_cases/tactics_search.py
  src/tactix/conversion_payload__pipeline.py
  src/tactix/db/duckdb_tactic_repository.py
  src/tactix/domain/conversion_payload.py
  src/tactix/domain/practice.py
  src/tactix/domain/tactics_outcome.py
  src/tactix/ports/repositories.py
  src/tactix/resolve_unclear_outcome_context.py
  src/tactix/should_override_failed_attempt__tactics.py
  tests/test_domain_conversion_payload.py
  tests/test_domain_practice.py
  tests/test_domain_tactics_outcome.py
Due: ty-check, xenon, vulture, jscpd

[dev] Mark domain-layer refactor passing
  app-progress.txt
  feature_list.json
Due: none

[refactor] share unclear outcome keys - reduce duplication
  app-progress.txt
  src/tactix/domain/tactics_outcome.py
  tests/test_domain_tactics_outcome.py
Due: ty-check, xenon, vulture, jscpd

[dev] Route use-case defaults through wiring
  app-progress.txt
  src/tactix/app/use_cases/dashboard.py
  src/tactix/app/use_cases/dependencies.py
  src/tactix/app/use_cases/pipeline_run.py
  src/tactix/app/use_cases/pipeline_support.py
  src/tactix/app/use_cases/postgres.py
  src/tactix/app/use_cases/practice.py
  src/tactix/app/use_cases/tactics_search.py
  src/tactix/app/wiring.py
  src/tactix/ports/__init__.py
  src/tactix/ports/checkpoint_writer.py
  src/tactix/ports/repositories.py
  tests/test_pipeline_support.py
Due: ty-check, xenon, vulture, jscpd

[dev] Mark ports-only use cases passing
  app-progress.txt
  feature_list.json
Due: none

[EU] Sync before working
  feature_list.json
  src/tactix/app/use_cases/dependencies.py
  src/tactix/app/use_cases/pipeline_support.py
  src/tactix/app/wiring.py
  src/tactix/infra/checkpoint_writer.py
  src/tactix/ports/__init__.py
  tests/test_domain_practice.py
Due: ty-check, xenon, vulture, jscpd

[EU] Cleaning with refactors
  client/src/client/postgres.ts
  client/src/client/streams.ts
  src/tactix/app/wiring.py
  src/tactix/outcome_context.py
Due: ty-check, xenon, vulture, eslint, prettier, knip, jscpd

[dev] Move unit-of-work wiring out of use cases
  app-progress.txt
  feature_list.json
  src/tactix/app/use_cases/dashboard.py
  src/tactix/app/use_cases/pipeline_run.py
  src/tactix/app/use_cases/practice.py
  src/tactix/app/use_cases/tactics_search.py
  tests/test_use_cases_api_layer.py
Due: ty-check, xenon, vulture, jscpd

[refactor] simplify practice use-case requests
  src/tactix/app/use_cases/practice.py
Due: ty-check, xenon, vulture, jscpd

[dev] update progress notes
  app-progress.txt
Due: none

[dev] note docker compose verification
  app-progress.txt
Due: none

[dev]Add enter-to-submit for practice input
  app-progress.txt
  client/src/_components/PracticeAttemptCard.tsx
  client/src/_components/PracticeMoveInput.test.tsx
  client/src/_components/PracticeMoveInput.tsx
  feature_list.json
  verification/integration_feature_enter_submit.js
  verification/puppeteer_issue_enter_submit.js
  verification/ui-enter-submit-2026-02-08.png
Due: eslint, prettier, knip, jscpd

[refactor] Extract enter-submit Puppeteer helpers
  verification/enter_submit_helpers.js
  verification/integration_feature_enter_submit.js
  verification/puppeteer_issue_enter_submit.js
Due: jscpd

[dev] log enter-submit refactor
  app-progress.txt
Due: none

[dev]Add game detail overlay modal
  app-progress.txt
  client/src/_components/GameDetailModal.tsx
  client/src/flows/DashboardFlow.test.tsx
  feature_list.json
  verification/enter_submit_helpers.js
  verification/feature-game-detail-modal-2026-02-08.png
  verification/integration_feature_game_detail_modal.js
Due: eslint, prettier, knip, jscpd

[refactor] Deduplicate game detail modal helpers
  client/src/_components/GameDetailModal.tsx
  verification/helpers/game_detail_modal_helpers.js
  verification/integration_feature_game_detail_modal.js
  verification/puppeteer_feature_game_detail_modal.js
Due: eslint, prettier, knip, jscpd

[dev] log game detail refactor
  app-progress.txt
Due: none

[dev]Fix practice progress totals
  app-progress.txt
  client/src/_components/PracticeAttemptButton.test.tsx
  client/src/_components/PracticeAttemptButton.tsx
  client/src/_components/PracticeAttemptCard.tsx
  client/src/_components/PracticeMoveInput.test.tsx
  client/src/_components/PracticeMoveInput.tsx
  client/src/flows/DashboardFlow.test.tsx
  client/src/flows/DashboardFlow.tsx
  feature_list.json
  verification/integration_issue_practice_progress.js
  verification/issue-practice-progress-2026-02-08.png
  verification/puppeteer_issue_practice_progress.js
Due: eslint, prettier, knip, jscpd

[refactor] Simplify practice attempt submission
  client/src/_components/PracticeAttemptButton.test.tsx
  client/src/_components/PracticeAttemptButton.tsx
  client/src/_components/PracticeAttemptCard.tsx
  client/src/flows/DashboardFlow.tsx
Due: eslint, prettier, knip, jscpd

[dev] log practice progress refactor
  app-progress.txt
Due: none

[dev]Add Open in Lichess action for games
  app-progress.txt
  client/src/flows/DashboardFlow.test.tsx
  client/src/flows/DashboardFlow.tsx
  client/src/utils/buildLichessAnalysisUrl.ts
  feature_list.json
  verification/feature-open-lichess-link-2026-02-08.png
  verification/integration_feature_open_lichess_link.js
  verification/puppeteer_feature_open_lichess_link.js
Due: eslint, prettier, knip, jscpd

[refactor] streamline Lichess analysis link helpers
  client/src/flows/DashboardFlow.test.tsx
  client/src/flows/DashboardFlow.tsx
  client/src/utils/buildLichessAnalysisUrl.ts
  verification/helpers/lichess_open_helpers.js
  verification/integration_feature_open_lichess_link.js
  verification/puppeteer_feature_open_lichess_link.js
Due: eslint, prettier, knip, jscpd

[dev] log lichess link refactor
  app-progress.txt
Due: none

[dev]Enable collapsible + reorderable dashboard cards
  app-progress.txt
  client/src/_components/FiltersCard.tsx
  client/src/_components/JobProgressCard.tsx
  client/src/_components/MetricsSummaryCard.tsx
  client/src/_components/PostgresAnalysisCard.tsx
  client/src/_components/PostgresRawPgnsCard.tsx
  client/src/_components/PostgresStatusCard.tsx
  client/src/_components/PracticeAttemptCard.tsx
  client/src/components.ts
  client/src/flows/DashboardFlow.test.tsx
  client/src/flows/DashboardFlow.tsx
  client/src/utils/buildLichessAnalysisUrl.ts
  feature_list.json
  verification/dashboard-motif-filters.png
  verification/dashboard-practice-attempt-grading.png
  verification/feature-dashboard-cards-collapsible-move-2026-02-08.png
  verification/feature-open-lichess-link-2026-02-08.png
  verification/integration_feature_147_card_reorder.js
  verification/integration_feature_dashboard_cards_collapsible_move.js
  verification/issue-practice-progress-2026-02-08.png
  verification/puppeteer_feature_dashboard_cards_collapsible_move.js
  verification/puppeteer_feature_open_lichess_link.js
  verification/puppeteer_motif_filters.js
  verification/puppeteer_practice_attempt.js
  verification/ui-enter-submit-2026-02-08.png
Due: eslint, prettier, knip, jscpd

[refactor] consolidate dashboard card drag props
  client/src/_components/BaseCard.tsx
  client/src/_components/FiltersCard.tsx
  client/src/_components/JobProgressCard.tsx
  client/src/_components/MetricsGrid.tsx
  client/src/_components/MetricsSummaryCard.tsx
  client/src/_components/MotifCard.tsx
  client/src/_components/MotifTrendsCard.tsx
  client/src/_components/PositionsList.tsx
  client/src/_components/PostgresAnalysisCard.tsx
  client/src/_components/PostgresRawPgnsCard.tsx
  client/src/_components/PostgresStatusCard.tsx
  client/src/_components/PracticeAttemptCard.tsx
  client/src/_components/PracticeQueueCard.tsx
  client/src/_components/RecentGamesCard.tsx
  client/src/_components/RecentTacticsCard.tsx
  client/src/_components/TimeTroubleCorrelationCard.tsx
  client/src/flows/DashboardFlow.tsx
Due: eslint, prettier, knip, jscpd

[dev] log dashboard cards refactor
  app-progress.txt
Due: none

[dev] incorporate listudy assets in UI
  app-progress.txt
  client/NOTICE.md
  client/src/_components/PracticeAttemptCard.test.tsx
  client/src/_components/PracticeAttemptCard.tsx
  client/src/styles.css
  client/src/utils/listudyAssets.ts
  feature_list.json
  verification/feature-listudy-assets-2026-02-08.png
  verification/integration_feature_listudy_assets.js
  verification/puppeteer_feature_listudy_assets.js
Due: eslint, prettier, knip, jscpd

[refactor] centralize listudy assets
  client/src/_components/PracticeAttemptCard.tsx
  client/src/styles.css
  client/src/utils/listudyAssets.ts
  verification/integration_feature_listudy_assets.js
  verification/listudy_assets_helpers.js
  verification/puppeteer_feature_listudy_assets.js
Due: eslint, prettier, knip, jscpd

[dev] fix layering guardrail regression
  client/src/flows/DashboardFlow.tsx
Due: eslint, prettier, knip, jscpd

[dev] log guardrail regression fix
  app-progress.txt
Due: none

[dev] log main merge housekeeping
  app-progress.txt
Due: none

Path conditions:
  ty-check: any of: ^src/.*\.py$
  xenon: any of: ^src/.*\.py$
  vulture: any of: ^src/.*\.py$
  eslint: any of: ^client/.*\.(js|jsx|ts|tsx)$
  prettier: any of: ^client/.*\.(js|jsx|ts|tsx|json|css)$
  knip: any of: ^client/
  jscpd: any of: \.(py|js|jsx|ts|tsx)$
