Repository aaweaver-actuary/tactix: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, ty-check, mypy, pylint, flake8, pydocstyle, prospector, xenon, pycycle, vulture, knip, jscpd, safety, bandit, dodgy, pytest, vitest, cargo-test, cargo-test-release, cargo-build, client-build

Path conditions:
  eslint: any of: ^client/.*\.(js|jsx|ts|tsx)$
  prettier: any of: ^client/.*\.(js|jsx|ts|tsx|json|css)$
  ty-check: any of: ^src/.*\.py$
  mypy: any of: ^src/.*\.py$
  pylint: any of: ^src/.*\.py$
  flake8: any of: ^src/.*\.py$
  pydocstyle: any of: ^src/.*\.py$
  prospector: any of: ^src/.*\.py$
  xenon: any of: ^src/.*\.py$
  pycycle: any of: ^src/.*\.py$
  vulture: any of: ^src/.*\.py$
  knip: any of: ^client/
  jscpd: any of: \.(py|js|jsx|ts|tsx)$
  safety: any of: ^(pyproject\.toml|uv\.lock|requirements.*\.txt)$
  bandit: any of: ^src/.*\.py$
  dodgy: any of: ^src/.*\.py$
  pytest: any of: ^(src/.*\.py|tests/.*\.py)$
  vitest: any of: ^client/
  cargo-test: any of: \.(rs|toml)$
  cargo-test-release: any of: \.(rs|toml)$
  cargo-build: any of: \.(rs|toml)$
  client-build: any of: ^client/

[dev] Stabilize dashboard flow tests and exports
  client/src/_components/PracticeModalContent.tsx
  client/src/_components/TacticsActionButtons.test.tsx
  client/src/_components/TacticsActionButtons.tsx
  client/src/client/index.ts
  client/src/components.test.ts
  client/src/components.ts
  client/src/flows/DashboardFlow.actions.test.tsx
  client/src/flows/DashboardFlow.test.tsx
  client/src/flows/DashboardFlow.tsx
  client/src/utils/fetchDashboard.ts
  client/src/utils/submitPracticeAttempt.ts
Due: eslint, prettier, knip, jscpd, vitest, client-build

[dev]Exclude illegal hanging piece captures - verified end-to-end
  claude-progress.txt
  feature_list.json
  src/tactix/BaseTacticDetector.py
  src/tactix/_infer_hanging_or_detected_motif.py
  src/tactix/_is_moved_piece_hanging_after_move.py
  src/tactix/_is_new_hanging_piece.py
  tests/test_opp_hanging_piece_illegal_capture.py
  verification/feature-chessboard-modal-closed-2026-02-09.png
  verification/feature-chessboard-modal-open-2026-02-09.png
  verification/feature-dashboard-cards-collapsible-move-2026-02-08.png
  verification/feature-fab-database-modal-2026-02-10.png
  verification/feature-fab-filters-closed-desktop-2026-02-10.png
  verification/feature-fab-filters-closed-mobile-2026-02-10.png
  verification/feature-fab-filters-open-desktop-2026-02-10.png
  verification/feature-fab-filters-open-mobile-2026-02-10.png
  verification/feature-game-detail-modal-2026-02-08.png
  verification/feature-listudy-assets-2026-02-08.png
  verification/feature-open-lichess-link-2026-02-08.png
  verification/feature-opp-hanging-piece-illegal-capture-2026-02-12.png
  verification/feature-practice-button-2026-02-10.png
  verification/feature-practice-orientation-2026-02-10.png
  verification/feature-source-filter-header-2026-02-10.png
  verification/feature-source-filter-modal-2026-02-10.png
  verification/integration_feature_opp_hanging_piece_illegal_capture.js
  verification/puppeteer_feature_opp_hanging_piece_illegal_capture.js
Due: ty-check, mypy, pylint, flake8, pydocstyle, prospector, xenon, pycycle, vulture, jscpd, bandit, dodgy, pytest

[refactor] Deduplicate dashboard action tests – single responsibility
  claude-progress.txt
  client/src/flows/DashboardFlow.actions.test.tsx
Due: eslint, prettier, knip, jscpd, vitest, client-build

[dev] Skip hanging capture checks on checkmate
  src/tactix/BaseTacticDetector.py
Due: ty-check, mypy, pylint, flake8, pydocstyle, prospector, xenon, pycycle, vulture, jscpd, bandit, dodgy, pytest

[refactor] Decouple tactic inserts and engine parsing – single responsibility
  .safety-policy.yml
  claude-progress.txt
  src/tactix/_evaluate_engine_position.py
  src/tactix/build_insert_plans__db_store.py
  src/tactix/db/_migration_add_pipeline_views.py
  src/tactix/db/postgres_analysis_repository.py
  src/tactix/define_base_db_store__db_store.py
  src/tactix/engine_result.py
Due: ty-check, mypy, pylint, flake8, pydocstyle, prospector, xenon, pycycle, vulture, jscpd, bandit, dodgy, pytest

Partially complete client tests
  tests/test_opp_hanging_piece_illegal_capture.py
Due: jscpd, pytest

[dev] Enable mate-in-two opportunities and coverage
  claude-progress.txt
  src/tactix/analyze_position.py
  src/tactix/tactic_scope.py
  tests/test_mate_in_two_opportunity.py
  tests/test_tactic_scope.py
  tests/test_tactic_scope_helpers.py
Due: ty-check, mypy, pylint, flake8, pydocstyle, prospector, xenon, pycycle, vulture, jscpd, bandit, dodgy, pytest

[refactor] Simplify analyze position flow
  src/tactix/analyze_position.py
Due: ty-check, mypy, pylint, flake8, pydocstyle, prospector, xenon, pycycle, vulture, jscpd, bandit, dodgy, pytest

[refactor] Document analyze_position refactor
  claude-progress.txt
Due: none

[dev] Mark MATE_IN_2 opportunity feature passing
  claude-progress.txt
  feature_list.json
Due: none

[dev]Mark hanging capture conversions
  claude-progress.txt
  feature_list.json
  src/tactix/analyze_position.py
  src/tactix/db/_migration_add_pipeline_views.py
  tests/test_conversion_captured_target.py
  verification/feature-chessboard-modal-closed-2026-02-09.png
  verification/feature-chessboard-modal-open-2026-02-09.png
  verification/feature-dashboard-cards-collapsible-move-2026-02-08.png
  verification/feature-fab-database-modal-2026-02-10.png
  verification/feature-fab-filters-closed-desktop-2026-02-10.png
  verification/feature-fab-filters-closed-mobile-2026-02-10.png
  verification/feature-fab-filters-open-desktop-2026-02-10.png
  verification/feature-fab-filters-open-mobile-2026-02-10.png
  verification/feature-game-detail-modal-2026-02-08.png
  verification/feature-listudy-assets-2026-02-08.png
  verification/feature-open-lichess-link-2026-02-08.png
  verification/feature-practice-best-move-hidden-after-2026-02-10.png
  verification/feature-practice-best-move-hidden-before-2026-02-10.png
  verification/feature-practice-button-2026-02-10.png
  verification/feature-practice-orientation-2026-02-10.png
  verification/feature-source-filter-header-2026-02-10.png
  verification/feature-source-filter-modal-2026-02-10.png
Due: ty-check, mypy, pylint, flake8, pydocstyle, prospector, xenon, pycycle, vulture, jscpd, bandit, dodgy, pytest

[dev] Preserve unclear hanging capture outcomes
  src/tactix/analyze_position.py
Due: ty-check, mypy, pylint, flake8, pydocstyle, prospector, xenon, pycycle, vulture, jscpd, bandit, dodgy, pytest

[dev] Document hanging capture outcome fix
  claude-progress.txt
Due: none

[refactor] Centralize capture-square resolution – single responsibility
  claude-progress.txt
  src/tactix/BaseTacticDetector.py
  src/tactix/_find_hanging_capture_target.py
  src/tactix/_infer_hanging_or_detected_motif.py
  src/tactix/_resolve_capture_square__move.py
  src/tactix/analyze_position.py
Due: ty-check, mypy, pylint, flake8, pydocstyle, prospector, xenon, pycycle, vulture, jscpd, bandit, dodgy, pytest

[dev]Mark mate-line conversions and coverage - verified end-to-end
  claude-progress.txt
  feature_list.json
  src/tactix/db/_migration_add_pipeline_views.py
  tests/test_conversion_played_mate_line.py
  verification/feature-chessboard-modal-closed-2026-02-09.png
  verification/feature-chessboard-modal-open-2026-02-09.png
  verification/feature-conversion-played-mate-line-2026-02-12.png
  verification/feature-dashboard-cards-collapsible-move-2026-02-08.png
  verification/feature-fab-database-modal-2026-02-10.png
  verification/feature-fab-filters-closed-desktop-2026-02-10.png
  verification/feature-fab-filters-closed-mobile-2026-02-10.png
  verification/feature-fab-filters-open-desktop-2026-02-10.png
  verification/feature-fab-filters-open-mobile-2026-02-10.png
  verification/feature-game-detail-modal-2026-02-08.png
  verification/feature-listudy-assets-2026-02-08.png
  verification/feature-open-lichess-link-2026-02-08.png
  verification/feature-practice-button-2026-02-10.png
  verification/feature-practice-orientation-2026-02-10.png
  verification/feature-source-filter-header-2026-02-10.png
  verification/feature-source-filter-modal-2026-02-10.png
Due: ty-check, mypy, pylint, flake8, pydocstyle, prospector, xenon, pycycle, vulture, jscpd, bandit, dodgy, pytest

[refactor] extract conversion test helpers - single responsibility
  claude-progress.txt
  tests/conversion_test_helpers.py
  tests/test_conversion_captured_target.py
  tests/test_conversion_played_mate_line.py
Due: jscpd, pytest

[dev]Handle non-converting move conversions - verified end-to-end
  claude-progress.txt
  feature_list.json
  tests/test_conversion_non_converting_move.py
  verification/dashboard-practice-attempt-grading.png
  verification/feature-chessboard-modal-closed-2026-02-09.png
  verification/feature-chessboard-modal-open-2026-02-09.png
  verification/feature-fab-database-modal-2026-02-10.png
  verification/feature-fab-filters-closed-desktop-2026-02-10.png
  verification/feature-fab-filters-closed-mobile-2026-02-10.png
  verification/feature-fab-filters-open-desktop-2026-02-10.png
  verification/feature-fab-filters-open-mobile-2026-02-10.png
  verification/feature-fab-recent-games-2026-02-10.png
  verification/feature-fab-recent-tactics-2026-02-10.png
  verification/feature-game-detail-modal-2026-02-08.png
  verification/feature-listudy-assets-2026-02-08.png
  verification/feature-modal-escape-closed-2026-02-09.png
  verification/feature-modal-escape-open-2026-02-09.png
  verification/feature-open-lichess-link-2026-02-08.png
  verification/feature-practice-button-2026-02-10.png
  verification/feature-practice-orientation-2026-02-10.png
  verification/feature-source-filter-header-2026-02-10.png
  verification/feature-source-filter-modal-2026-02-10.png
Due: jscpd, pytest

[refactor] dedupe conversion test positions - single responsibility
  claude-progress.txt
  tests/conversion_test_helpers.py
  tests/test_conversion_captured_target.py
  tests/test_conversion_non_converting_move.py
  tests/test_conversion_played_mate_line.py
Due: jscpd, pytest

[EU] Sync before working
  claude-progress.txt
  src/tactix/analyze_position.py
  src/tactix/db/fetch_unanalyzed_positions.py
  src/tactix/load_resume_positions__pipeline.py
  tests/test_coverage_extensions.py
  tests/test_user_hanging_piece_post_move.py
  verification/feature-chessboard-modal-closed-2026-02-09.png
  verification/feature-chessboard-modal-open-2026-02-09.png
  verification/feature-dashboard-cards-collapsible-move-2026-02-08.png
  verification/feature-fab-database-modal-2026-02-10.png
  verification/feature-fab-filters-closed-desktop-2026-02-10.png
  verification/feature-fab-filters-closed-mobile-2026-02-10.png
  verification/feature-fab-filters-open-desktop-2026-02-10.png
  verification/feature-fab-filters-open-mobile-2026-02-10.png
  verification/feature-game-detail-modal-2026-02-08.png
  verification/feature-listudy-assets-2026-02-08.png
  verification/feature-open-lichess-link-2026-02-08.png
  verification/feature-practice-button-2026-02-10.png
  verification/feature-practice-orientation-2026-02-10.png
  verification/feature-source-filter-header-2026-02-10.png
  verification/feature-source-filter-modal-2026-02-10.png
Due: ty-check, mypy, pylint, flake8, pydocstyle, prospector, xenon, pycycle, vulture, jscpd, bandit, dodgy, pytest

[dev]Fix post-move hanging detection and resume coverage
  claude-progress.txt
  src/tactix/TacticDetails.py
  src/tactix/TacticRow.py
  src/tactix/_find_hanging_capture_target.py
  src/tactix/_infer_hanging_or_detected_motif.py
  src/tactix/analysis_signature__pipeline.py
  src/tactix/analyze_position.py
  src/tactix/build_insert_plans__db_store.py
  src/tactix/db/_migration_add_pipeline_views.py
  src/tactix/db/_migration_add_tactic_confidence.py
  src/tactix/db/duckdb_store.py
  src/tactix/db/duckdb_tactic_repository.py
  src/tactix/db/postgres_analysis_repository.py
  src/tactix/define_tactic_insert_plan__db_store.py
  src/tactix/extract_positions_from_games__pipeline.py
  src/tactix/init_analysis_schema.py
  src/tactix/sql_tactics.py
  tests/test_analysis_resume_inputs.py
  tests/test_api_chesscom_bullet_dashboard_practice_2026_02_01.py
  tests/test_api_chesscom_bullet_pipeline_canonical.py
  tests/test_chesscom_bullet_pipeline_2026_02_01.py
  tests/test_user_hanging_piece_post_move.py
Due: ty-check, mypy, pylint, flake8, pydocstyle, prospector, xenon, pycycle, vulture, jscpd, bandit, dodgy, pytest

[EU] Sync before working
  feature_list.json
  tests/test_analysis_resume_inputs.py
Due: jscpd, pytest

sync
  .safety-policy.yml
  client/src/_components/BaseCard.test.tsx
  client/src/_components/BaseCard.tsx
  client/src/_components/TacticsActionButtons.test.tsx
  client/src/_components/TacticsActionButtons.tsx
  client/src/_components/baseCardUtils.ts
  client/src/_components/tacticsActionButtonsUtils.ts
  client/src/flows/DashboardFlow.test.tsx
  client/src/flows/DashboardFlow.tsx
  client/src/flows/dashboardFlowUtils.ts
  src/tactix/_find_hanging_capture_target.py
  src/tactix/analyze_position.py
  tests/test_analyze_position_post_move_helpers.py
  tests/test_base_tactic_detector_helpers.py
  tests/test_coverage_extensions.py
  tests/test_daily_game_sync_internal.py
  tests/test_lichess_client.py
Due: eslint, prettier, ty-check, mypy, pylint, flake8, pydocstyle, prospector, xenon, pycycle, vulture, knip, jscpd, bandit, dodgy, pytest, vitest, client-build
